[2017-04-16 11:26] leebenson opened #1 "default favicon"
Per https://github.com/reactql/cli/issues/26

[2017-04-16 11:27] leebenson opened #2 "@decorator and static class properties"
Per https://github.com/reactql/cli/issues/25

[2017-04-16 11:28] leebenson opened #3 "Zopfli and Brotli Compression"
Per https://github.com/reactql/cli/issues/22

[2017-04-16 11:28] leebenson opened #4 "Running SSR server in development"
Per https://github.com/reactql/cli/issues/13

[2017-04-16 11:30] leebenson opened #5 "Test code splitting with PostCSS"
Per https://github.com/reactql/cli/issues/4

[2017-04-17 13:57] leebenson commented on #4
@jtmthf - including you on this, to track progress

[2017-04-17 14:50] leebenson commented on #2
Added in https://github.com/reactql/kit/commit/484872c0c0a819b05bcc81ef0419dffb032f983b

[2017-04-17 14:50] #2 closed

[2017-04-17 17:25] #1 closed

[2017-04-17 23:18] loelsonk opened #10 "Is is possible to use subscriptions with SSR?"
I could not really find an answer and I am not sure if it is good place to ask.

[code]

Is is possible to use subscriptions with SSR? I am aware that nodejs does not have direct support for websockets, so we have  to install package/library to add desired functionality...

[SubscriptionClient](https://github.com/apollographql/subscriptions-transport-ws
) is used for client/browser.

Of course I u

[2017-04-17 23:29] jtmthf commented on #10
@loelsonk You actually don't want to enable the `SubscriptionClient` on the server. As the subscription is for reacting to a stream of real time of events, it's unneeded in the SSR phase. During SSR you just need to get the current state of the data you need. Then once your app mounts on the client-side, you can subscribe to changes.

Check out the client entry point from `githunt-react`, the semi

[2017-04-18 07:28] leebenson commented on #10
I plan on writing a guide that demonstrates subscriptions in practice in a universal way. Like @jtmthf said, this would be done by fetching only the initial data on the server, piping it down to the client, and then letting the _client_ subscribe directly.

I'll close this for now, and will drop a note back when the docs have been updated with the guide.

[2017-04-18 07:28] #10 closed

[2017-04-18 22:40] loelsonk commented on #10
@leebenson  I will definitely check your guide, just let me know.
@jtmthf @leebenson Thanks for help I've got it to work, just tested it and my subscription works in production and in development mode.

So here are my small changes to `apollo.js` file. Changes are small but it is working as intended. What do you think? Are there any "gotchas" with this code or this is proper way of implementing su

[2017-04-18 23:48] leebenson commented on #10
One way to handle authentication is to pass the auth token back to the client as a cookie.

This way, you're using the initial SSR as a 'proxy' for authentication - on the very first call from the server, any Bearer token received from the API server would be returned as a cookie (down to the browser), allowing future requests to the server to reuse that same token.

On the client, you could then

[2017-04-19 15:17] leebenson opened #12 "Refactor CSS/SASS/LESS imports"
There are currently differences in the way CSS, LESS and SASS `@import` statements resolve, causing unexpected behaviour when using `~` to represent `node_modules`, and relative path names that don't follow the expected Webpack setting.

Needs proper testing.

[2017-04-23 21:09] jtmthf opened #13 "CSS imports from node_modules"
One thing I cannot do so far is importing css from third party sources, without having it processed through css-modules. As third party css generally doesn't follow the `*.global.css` rule, it gets processed through css-modules and gets its class names messed up. I've tried a couple of approaches using different include and exclude rules, but haven't found a solution that works yet.

[2017-04-23 21:24] leebenson commented on #13
@jtmthf - have you tried creating a `styles.global.css` and using `@import 'path/to/external.css'` in there? That should work. e.g.:

**app.js**
[code]

**styles.global.css**
[code]

**external.css**
[code]

... retains the original classnames in production:

<img width="623" alt="screen shot 2017-04-23 at 22 23 10" src="https://cloud.githubusercontent.com/assets/719722/25317601/7a818acc-2873-11e7

[2017-04-23 21:30] jtmthf commented on #13
@leebenson Thanks! That works there. I was trying imports from both js files and also within the `:global` selector in modularized css files. Seems like importing from from global css preserves the global configuration.

[2017-04-23 21:44] leebenson commented on #13
Excellent, glad to it worked @jtmthf.

Yep, as long as the _final_ file you're importing from is named in the `.global.css` format, everything that happens within that file should remain 'global'.

Using `:global { @import './somethingElse.css' } ` within a plain .css file technically _ought_ to work, but it seems that the current importer processes that as a regular require statement that is also

[2017-04-24 07:22] mairh opened #14 "Could you please provide an example of component code splitting"
So far the starter kit works great. However, could you please provide an example of the react component code splitting (i.e creating different folder/components). At the moment everything is under `src` folder. How does react router 4 works with react component resides in the different folder under `src`.

[2017-04-24 07:53] leebenson commented on #14
You can organise folders however you like. When you import anything, it will search from the project root upwards. So you might import other components like this:

[code]

You can even put stuff outside out of `src` if you like -- although as a convention, keeping everything within that folder makes it easy to know what's 'your' code and what's the kit.

React Router 4 doesn't care where your comp

[2017-04-24 13:27] mairh commented on #14
Thanks. I will try that out. Meanwhile closing this issue.

[2017-04-24 13:27] #14 closed

[2017-04-24 17:04] mairh opened #16 "Adding plugins preset in babelrc file"
Hi, I am trying to incorporate ant-design UI framework with reactql. In order to make the component imports modularized, I need to set [babel-plugin-import](https://github.com/ant-design/babel-plugin-import) in `.babelrc` file as suggested over here [Use-modularized-antd](https://ant.design/docs/react/introduce#Use-modularized-antd)

[code]
However, the styles from the UI framework are not passed

[2017-04-24 17:20] leebenson commented on #16
Yes, your config needs to go in `kit/webpack` and **_not_** the root `.babelrc` -- that file exists only to start the initial build. Settings there don't get fed through to your components.

[2017-04-24 17:20] #16 closed

[2017-04-24 17:45] mairh commented on #16
Due to some reason, I can't get ant-deign to work with reactql. However, I guess it is our of scope for this kit at this moment

[2017-04-24 17:46] leebenson commented on #16
@mairh - post your webpack config here, and I'll take a look

[2017-04-24 18:03] mairh commented on #16
So this is what I did:

`yarn add antd`
`yarn add babel-plugin-import`

In `webpack/server.js`
[code]
and in app.js I am trying out [Example](https://ant.design/components/button/#When-To-Use)

`import { Button } from 'antd';`
`<Button type="primary">Primary</Button>`

I am not sure in which webpack file the loader configuration should go? In webpack/server.js styles are not loaded from `antd`

[2017-04-24 18:14] mairh commented on #16
The only way I can make it work if I forget about `babel-plugin-import` and import stuff manually from `antd` for e.g

in `kit/src/app.js`
`import { Button } from 'antd';`

and in `kit/src/style.global.css`
`@import 'node_modules/antd/dist/antd.css';`

as explained [here](https://ant.design/docs/react/use-with-create-react-app#Import-antd)

[2017-04-25 03:10] jtmthf commented on #16
@mairh It looks like your only including `babel-plugin-import` in `webpack/server.js` which specifys the build configuration for the server that handles SSR. In addition to that, you also need to include additional Babel plugins in `webpack/browser.js` which is your client side configuration. For your case, it should look something like the config below. Hope that helps!

[code]

[2017-04-25 08:15] mairh commented on #16
@jtmthf @leebenson Sorry, I didn't mention earlier but I did try to add `babel-plugin-import` earlier in `webpack/browser.js`, but it is throwing an error

`Error: Plugin 6 specified in "base" provided an invalid property of "libraryName"`

<img width="1082" alt="screen shot 2017-04-25 at 11 11 51" src="https://cloud.githubusercontent.com/assets/4072250/25375129/6878a276-29a8-11e7-8100-2570184c0cc

[2017-04-25 08:22] jtmthf commented on #16
@mairh I see it now. You need square brackets around plugins that take options. It should look like,
`['import', { libraryName: 'antd', style: true }],`

[2017-04-25 08:56] mairh commented on #16
@jtmthf Thanks. It does get rid of the webpack error after using the correct syntax. However, the styles for the corresponding component is not loaded.

In the below example I am just trying to import `tabs`

[code]

as specified here [Tabs](https://ant.design/components/tabs/)

and the styles are not injected

<img width="1440" alt="screen shot 2017-04-25 at 11 48 39" src="https://cloud.githubuse

[2017-04-25 09:22] jtmthf commented on #16
So the problem here is that the antd styles are being processed through css modules which is causing all of the class names to get clobbered. This can be a little tricky depending on what you want to do. If you know that you will not be using css-modules at all, you can disable them entirely. Alternatively you could also find a way in the config to disable css modules in files from `node_modules`.

[2017-04-25 09:42] leebenson commented on #16
Have you tried creating an antd.global.css file and importing antd/lib/style/index.css from there?

[2017-04-25 09:54] mairh commented on #16
yeah, as I mentioned in my earlier comment https://github.com/reactql/kit/issues/16#issuecomment-296776953 the only way to make the UI library work if I import the whole `antd` global styles and forget about babel-plugin-import way of doing it. However, the bundle size is massive if I simply import whole style file.

<img width="789" alt="screen shot 2017-04-25 at 12 51 26" src="https://cloud.gith

[2017-04-26 07:09] #13 closed

[2017-04-26 20:05] Bartekus commented on #12
Nice work on the refactor @leebenson, I've tested this by successfully integrating Grommet on #18
Adding `@import '~grommet/scss/vanilla/index';` to the styles.scss works exactly as expected!
Thank you!

[2017-04-27 06:59] Extra-lightwill commented on #12
Have you had time to make any progress re: https://github.com/reactql/cli/issues/30 ?

If so, what would be the recommended way to import sass partials?

[2017-04-27 07:22] leebenson commented on #12
@Extra-lightwill - sure have, please see https://github.com/reactql/kit/issues/13

TL;DR - Put 'global' `@import` statements inside a `style.global.css` file and import that instead. It turns out that `:global` should only be used for 'inline' statements. See [this comment](https://github.com/reactql/kit/issues/13#issuecomment-297260139) for a more thorough explanation.

[2017-04-27 07:23] leebenson commented on #12
@Extra-lightwill - as for a recommend way to import SASS partials, this should work just like any other SASS import. e.g.:

[code]

[2017-04-27 07:23] #12 closed

[2017-04-28 21:12] jtmthf opened #20 "VSCode integration"
Would it be worth having a `.vscode` settings directory integrated with the project? I hate to make an assumption that another developer is going to use VSCode, but a lot of functionality could be provided by providing this integration. Some benefits that I can think of include

- smart defaults related to styling and configuration in the settings
  - rulers
  - eslint auto fix on save
  - remove

[2017-04-29 10:38] leebenson commented on #20
Sure, makes sense. We already have ESLint and per #19 now `.editorconfig`, so a `.vscode` folder isn't a big deal. With the Typescript version now in the CLI, I imagine quite a few devs will be using VSCode anyway.

[2017-05-05 09:43] leebenson commented on #4
@jtmthf - do you still want to tackle this one? I'm making some improvements over the weekend, and I'm happy to tackle this one if it's not currently on your radar.

[2017-05-05 11:10] jtmthf commented on #4
@leebenson I'm going to be pretty busy over the weekend so I won't be able to myself. I've played around with this, but haven't had the time to fully commit. My plan was to use [webpack-dev-middleware](https://github.com/webpack/webpack-dev-middleware) as it supplies middleware for both the dev server and hmr. What I haven'y fully figured out is the best way to split the existing server into a pro

[2017-05-05 11:16] leebenson commented on #4
@jtmthf - ok, np, I'll try and tackle this weekend. On my radar is i18n support and a code splitting helper. If I have time left over, I'll get to the server dev.

[2017-05-16 00:40] babsonmatt opened #22 "Thoughts on allowing the option to opt out of ssr?"

[2017-05-16 01:44] jtmthf commented on #22
@babsonmatt I was planning on doing a PR for this sometime this week. I was going to have separate options to opt out of either or both SSR and apollo server side fetch. My idea was the the Koa server would still have to run, but those options could be opted out of. What this doesn't address is being able to serve the application without a node server such as on github pages or using only nginx. D

[2017-05-20 09:51] Extra-lightwill opened #23 "Provide Relay Modern integration in docs."
**Suggestion:** With the release of Relay Modern yesterday, it would be cool to have a Relay integration included within the documentation for ReactQL.

I'm not saying a Relay version of ReactQL needs to be spun up at this point in time but instead providing guidelines in the docs for how-to/best practices on Relay integration would satisfy most use-cases.

Realise this adds extra complexity but i

[2017-05-20 10:10] leebenson commented on #23
Sure, makes sense. Tracked in https://github.com/reactql/docs/issues/7

[2017-05-20 10:10] #23 closed

[2017-05-20 17:23] rcwestlake opened #24 "Eslint issues for initial project"
Hey Lee, just installed reactql and started a new project. I am using Atom and am getting a couple errors with ESLint the config file.

![image](https://cloud.githubusercontent.com/assets/9679076/26277905/363a0bce-3d4e-11e7-9f8d-cfc3c8bd9482.png)

I am working through them as it may be my local environment but thought I would bring it up.

[2017-05-21 10:33] leebenson commented on #22
I'm sure you're already aware of this, but just in case it isn't clear to anyone reading - it's possible to opt out of GraphQL data fetching on the server on a per-component basis.

[This link](https://reactql.org/docs/graphql#How-can-I-prevent-data-loading-on-the-server) in the docs shows how.

It's not truly client-side only since a Koa server is still involved in serving the initial page and bu

[2017-05-21 10:42] leebenson commented on #5
I'll close this ticket. On reflection, having all stylesheet code wind up in a single file is ideal for the majority of use cases. It prevents flicker, and ensures that a consistent style is available across the whole application.

If more dynamic CSS is required with code-split components, then there are plenty of libraries where CSS can be written as plain JS inside the component file, and loade

[2017-05-21 10:42] #5 closed

[2017-05-22 10:31] leebenson commented on #22
Just an FYI that I'm working on this issue today

[2017-05-22 11:12] leebenson commented on #22
Released in [1.2.0](https://github.com/reactql/kit/releases/tag/1.2.0)

Now you can run:

`npm run build-browser-only`

... and it'll generate an `index.html` alongside the regular browser bundles, to correctly load the latest hashed CSS/JS.

You can then simply upload `dist/public/*` to a static host, et voila - working client-only site!

[2017-05-22 12:01] leebenson opened #26 "i18n internationalisation"
Figure out the best way to approach internationalisation.

[2017-05-22 12:07] leebenson commented on #24
@rcwestlake, in your Atom config, are you using a globally installed version of ESLint or allowing Atom to reference the one installed by ReactQL?

I'm wondering if it has something to do with this blurb in the [linter-eslint](https://atom.io/packages/linter-eslint) plugin:

<img width="1046" alt="screen shot 2017-05-22 at 13 04 08" src="https://cloud.githubusercontent.com/assets/719722/26308001/4

[2017-05-22 15:27] kajohnsonjd opened #27 "'import' and 'export' may only appear at the top level"
Hi there.  I love this boilerplate but have bumped up against this import/export error in multiple places in my code.

React hot loader indicates that this error may occur with RHL v3 in Webpack if React Hot Loader isn't loaded to the left of Babel in loaders array in Webpack config. [here, midpage](https://github.com/gaearon/react-hot-loader/blob/master/docs/Troubleshooting.md)  Having tried seve

[2017-05-22 19:21] kajohnsonjd commented on #27
Found the problem...dynamic projects should be using `require` or `require.ensure` rather than `import `and `export` due to Webpack code-splitting.

[2017-05-22 19:21] #27 closed

[2017-05-22 20:03] leebenson commented on #27
You should actually be able to use `import` anywhere when it's used [as a Promise, like in this code-splitting example](https://github.com/reactql/kit/issues/5#issuecomment-295200869).

`export` should always be top-level.

[2017-05-22 20:30] babsonmatt commented on #22
@leebenson Any plans to do something like npm run start-browser-only?

[2017-05-22 20:50] leebenson commented on #22
@babsonmatt - I'll add that to the next version.

[2017-05-22 23:03] kajohnsonjd commented on #27
Thanks.  Extremely helpful example.

[2017-05-23 00:39] auser opened #28 "Styles not loading"
I've tried to peek around the webpack config, but there's a bit of magic in here. Basically, the `styles.css` (`less/sass/css`) don't compile when named anything other than `style`.css.

For example, I have a `Landing.css` file sitting next to a `Landing.js` file and loading the `./Landing.css` from the JS module explodes with the error:

[code]

However, when I rename the file to `style(s).css`,

[2017-05-23 03:55] rcwestlake commented on #24
Thanks. I needed to update my `eslint` version. Now I am getting a different error. It seems related to Node or Babel. I did some googling but couldn't find a solution that worked. Have you run into it before?

[code]

AND

[code]

[2017-05-23 04:18] leebenson commented on #24
@rcwestlake - what happens if you start Terminal, navigate to your project folder, and type `npm run lint` -- does it run successfully?

If so, there's probably no issue with your locally installed Node, or the ESLint config/NPM module installed in your project folder.

Check that you're running the latest version of Atom, and all of your packages are up to. Bump Node to the latest version, too.

[2017-05-23 04:31] leebenson commented on #28
@auser - can you please provide a dump of the the parent code that attempts to import the style file?

It should definitely be fine to import .css / .scss / .less files prefixed with any name -- the loaders only look at the extension; it shouldn't care what comes before it.

Renaming `src/styles.css` to `src/whatever/SomethingElse.css`, for example, works fine in a fresh new project:

**src/app.js

[2017-05-23 04:57] auser commented on #28
I am using the same webpack version. I can give you a git dump as well Mind writing me an email so I can send you the project (literally a fresh project) with a small update to the webpack config (added to the `modules.root`).

[2017-05-23 05:52] leebenson commented on #28
@auser - please post your code as a public repo that I can download, or as a [gist](https://gist.github.com/) of the changes you made, and I'll take a look.

[2017-05-23 15:25] tsdexter opened #29 "Won't start/build on windows"
I'm having an issue starting on windows - looks to me like it's not transpiling the .babel.js files but I'm new to webpack/babel. Do I need extra packages/config in node on windows to build it? **(edit: it starts/builds/runs fine in OSX with Node 7.10.0)**

[code]

[2017-05-23 15:52] tsdexter commented on #29
Hmm. I had to install everything in package.json manually to get it to build. Do you know if this is an issue with my setup or windows/npm in general? I did `npm install` first but I suppose it didn't work... This did though:

[code]

[2017-05-23 15:52] #29 closed

[2017-05-23 16:10] leebenson commented on #29
@tsdexter - how did you install the kit -- did you use the [CLI](https://github.com/reactql/cli)?

It runs yarn/npm for you, so you shouldn't need to run any installation commands.

[2017-05-23 19:47] tsdexter commented on #29
@leebenson I used the CLI when I initiated the app on my MacBook, I did a bunch of work there and pushed everything to github then on my windows desktop I just cloned the repo from github and ran

[code]

Is there a CLI way to init an existing project that you've cloned? Or do you think my npm install just didn't install packages properly?

Normally I include /node_modules in my repo as I've read

[2017-05-23 20:07] leebenson commented on #29
`npm install` should work, as long as `package.json` is in your repo.

There's also a `yarn.lock` file, for use with `yarn`. That's generally faster and safer.

[2017-05-23 20:12] tsdexter commented on #29
That's what I figured. It must be an issue with my `npm install` which is
weird because it was a fresh installation of Node 7.10.0. Thanks for the
quick reply! And for the kit - it's perfect, I'm flying through this
project. 👍👍

On Tue, May 23, 2017 at 4:07 PM, Lee Benson <notifications@github.com>
wrote:

[2017-05-23 20:24] leebenson commented on #29
@tsdexter - my pleasure. Glad it's useful!

[2017-05-23 23:12] tsdexter commented on #29
@leebenson I don't think it warrants an issue (maybe feature request?) but is there an easy way to build production without minification.. I'm getting an error on production thats not in dev and am having trouble tracking it down in the minified code...

[code]

Which may have to do with apollo?

[code]
React decoder:

[code]

[2017-05-24 02:07] rcwestlake commented on #24
@leebenson thanks for your help - realize it's not a high priority. Looking forward to jumping into the starter kit once I get past this.

Output from running `npm run lint` after removing a semi-colon:

[code]

I updated node, Atom, and eslint just in case. Versions:

- node -v - `v7.10.0`
- eslint - `v3.19.0`
- Atom - `v1.17.0` (newest)

`cat package.json`

[code]

[2017-05-24 09:03] leebenson commented on #4
FYI, I should have a working implementation of SSR in development today.

[2017-05-24 23:58] leebenson commented on #4
**Update: this will be the new `npm start`**, being pushed with the v1.3 release tomorrow:

<img width="633" alt="screen shot 2017-05-25 at 00 51 55" src="https://cloud.githubusercontent.com/assets/719722/26430339/626a9e40-40e4-11e7-9d0e-fb06aefcaf9f.png">

When you run `npm start`, this will happen:

1. A hot-reloading browser will spawn on port 8080, the same as ever.
2. Additionally, a full web

[2017-05-25 03:41] rcwestlake commented on #24
@leebenson - if I switch it to a simple `.eslintrc` file and remove the javascript stuff (resolvers, etc.) it works fine. Obviously the linter then throws errors related `import/no-unresolved`, so not a fix, but it seems the error is related to `.js` part of the lint file.

[2017-05-25 08:57] leebenson commented on #24
@rcwestlake - thanks for the extra info. Very interesting. What's _supposed_ to happen is that `linter-eslint` inside of Atom fires up the locally installed `eslint` script (in your local node_modules folder, and not the global one), which checks to see if the .js variant is available, and if so, requires and loads it.

This, in theory, means the versions are locked to what's installed locally - s

[2017-05-26 00:51] babsonmatt commented on #4
@leebenson very cool

[2017-05-26 01:05] rcwestlake commented on #24
@leebenson thanks. I have sunk a lot of time trying to figure it out but to no avail. I'll keep looking and if I find a solution, I will post here. It's interesting, I downloaded Visual Studio Code and opened the project with that and there were no issues, so definitely an Atom problem.

Look forward to diving into the kit.

[2017-05-26 08:42] leebenson commented on #24
@rcwestlake - I may have run into this same issue.

Using `apm list` to get a list of installed Atom packages, this is what I had locally:

├── autocomplete-python@1.8.63
├── busy-signal@1.4.1
├── file-icons@2.1.4
├── intentions@1.1.2
├── kite@0.25.0
├── language-babel@2.57.7
├── language-docker@1.1.7
├── language-graphql@0.8.0
├── language-rust@0.4.10
├── linter@2.1.4
├── linter-eslint@8.1.7
├──

[2017-05-26 10:43] leebenson commented on #20
@jtmthf - did you want to tackle this one?

With #24 throwing errors in the latest eslinting plugins and VSCode looking unaffected, I'd like to make VS support 'official' as an alternative.

[2017-05-26 17:08] zachlendon commented on #4
@leebenson how's 1.3 looking?

[2017-05-26 17:12] leebenson commented on #4
@zachlendon - apologies for the delay... I'm a couple of days behind... crazy workload in my day job... aiming to get 1.3 up by the weekend. Bear with me 😅

[2017-05-26 17:15] zachlendon commented on #4
No problem,  totally understandable.  Huge fan of the project, and hoping to help in time.  Was just curious.

[2017-05-27 09:38] LancelotP commented on #24
Hi,

I did ran into the same issue as mentioned above and the simple fix for me was to remove the import of ```babel-register``` at the top of ```.eslintrc.js``` and replace the lint script inside ```package.json``` with ```babel-node ./node_modules/.bin/eslint .```

I prefer to use babel-node instead of babel-register since it's only used for development and the babel-eslint linter already knows

[2017-05-27 10:10] leebenson commented on #24
@LancelotP - I tried removing `babel-register` yesterday (see https://github.com/AtomLinter/linter-eslint/issues/926), but that produced syntax warnings in `src/app.js` for the 'import' keyword, and the local require paths set in Webpack are no longer being respected:

<img width="734" alt="screen shot 2017-05-27 at 11 07 27" src="https://cloud.githubusercontent.com/assets/719722/26520547/da75d0f0

[2017-05-27 10:20] leebenson commented on #24
@LancelotP - the issue is that _babel-eslint_ is checking syntax, but to get to that point and understand folder structures, the lint config file has to first load the [webpack config](https://github.com/reactql/kit/blob/master/.eslintrc.js#L47), which itself requires babel bootstrapping.

The previous `npm run lint` script worked fine locally, since it simply used `eslint .` (which itself was pul

[2017-05-27 20:22] leebenson commented on #24
I figured out a solution that bypasses Webpack and `babel-register`, without requiring any other changes. Will push it in 1.3, tomorrow probably.

[2017-05-27 20:30] leebenson commented on #28
@auser - I'll close this for now, since it seems like something to do with your environment. Feel free to re-open if you have code for me to look at.

[2017-05-27 20:30] #28 closed

[2017-05-27 22:44] #4 closed

[2017-05-27 22:44] #22 closed

[2017-05-27 22:44] #24 closed

[2017-05-27 23:04] leebenson commented on #22
Just a heads up that [1.3.0](https://github.com/reactql/kit/releases/tag/1.3.0) adds a static server, and changes the NPM run commands slightly to fit:

Now you have:

`npm run build-static` <-- build a static bundle
`npm run static` <-- run a previously built static bundle on port 5000
`npm run build-static-run` <-- do both

[2017-05-28 16:58] leebenson opened #30 "Code splitting error on development SSR"
Code splitting via the dev web server generates an error:

It works in production.

[2017-05-28 17:22] #30 closed

[2017-05-30 11:48] leebenson opened #31 "Progressive Web App features"
Explore adding in features of [Progressive Web Apps](https://developers.google.com/web/progressive-web-apps/)

[2017-05-30 13:52] leebenson commented on #3
Both Zopfli and Brotli compression are built-in as of [1.4.0](https://github.com/reactql/kit/releases/tag/1.4.0).

To enable this, `koa-static` was replaced with custom middleware that calls `koa-send` directly - support for `.br` files was added in v4.1.0.

There's an outstanding issue with `koa-send` where gzip will be preferred over Brotli where the `Accept-Encoding` header contains 'gzip' befo

[2017-05-31 07:47] leebenson commented on #3
Closing this - the fix was moot; user error.

[2017-05-31 07:47] #3 closed

[2017-05-31 10:08] leebenson commented on #26
I'm working on an i18n implementation today. Requirements:

- Easy for non-techs to write a 'translation' file, that's imported and used by components.
- Full i18n: Proper handling of pluralisation, number formatting, dates currencies.
- Relatively lightweight.
- Only shows the data that's relevant to the current view.
- Avoids 'language flicker', where possible
- Components can specify message ke

[2017-05-31 15:48] zachlendon commented on #26
Will this be an optional addition for ReactQL users? I ask, since not everyone will want/need i18n support and some will have their own implementations, for whatever reason.  I get that folks could "rip it out", but just wondering what the impact might be...

[2017-05-31 15:53] leebenson commented on #26
It'll probably be included in core, since otherwise it's a separate branch/repo that needs maintaining, and I'd rather not go down the route of splintering the core kit if it can be helped.

However, I want to make it simple to disable -- it'll likely just mean commenting out the server route adds the GraphQL server.

This is a tricky pattern to get right... I haven't seen many (any?) starter kits

[2017-05-31 18:36] leebenson commented on #26
After playing with this a little, I'm thinking this is perhaps something that might make a good candidate for an 'examples' repo of runnable starter kits, rather than something that has first-class support in the core.

I hacked together a quick working demo with a local GraphQL server and an object of messages that could be filtered by key. Beyond that, the issues stack up quickly. `react-apollo`

[2017-05-31 18:36] #26 closed

[2017-05-31 20:28] jtmthf commented on #26
@leebenson I agree that's the approach to take. Most times I've worked with internationalization in the past, it's been integrated into the app's API layer which is what I prefer for most situations. For an example with SSR, Koa's built in `request.acceptsLanguages(langs)` would be a good candidate for picking up the language header.

I would warn though that the `accepts-language` isn't all that

[2017-05-31 21:02] leebenson commented on #26
good thoughts @jtmthf - definitely one for an 'examples' repo.

[2017-06-05 20:54] tsdexter opened #32 "Apollo + graphql-tag/loader + fragments + #import not working in production"
Hi @leebenson

When I try to use graphql fragments as suggested in [the Apollo docs](http://dev.apollodata.com/react/webpack.html#Fragments) it works fine for dev but when I try to build production it is failing at the `#import`  (I can grab the actual error message when I'm back at my computer later but I'm guessing I'm just setting up the webpack config incorrectly)

I've added to webpack config

[2017-06-05 21:12] leebenson commented on #32
@tsdexter - I'll add this as a feature to the next version.

[2017-06-05 21:39] tsdexter commented on #32
Awesome thx. If you know the solution before you have time for a release can you hint at it here in case you figure it out before me.

[2017-06-05 21:58] leebenson commented on #32
I'll need to dig in further. I had it working with singular `.gql` files a few months back, but I've not yet tried the `#import` syntax. In the meantime, if you paste the error you're seeing, that might give me some hints. Thanks.

[2017-06-05 22:27] leebenson opened #33 "Fix web server source maps in development"
CSS sourcemaps

[2017-06-06 01:32] tsdexter commented on #32
It's building and running with the loader rule in the `base.js` file instead of `browser.js` or both.

[code]

[2017-06-06 08:44] leebenson commented on #33
fixed in 80f74a0c37bafb4ef946c0942e9841406ee7d905

[2017-06-06 08:44] #33 closed

[2017-06-06 08:45] leebenson commented on #32
Thanks @tsdexter. I'll re-open this to track adding it as standard to the next version.

[2017-06-06 09:51] #32 closed

[2017-06-06 16:20] tsdexter commented on #32
No problem - that was quick. Thanks!

[2017-06-07 13:33] zachlendon opened #34 "Webpack configuration customizations"
One of the greater challenges with the upgradeability of ReactQL versions in base projects is managing the customization of webpack configurations with the pulling in of new ReactQL versions.  The different configurations are broken out so well (browser_dev, browser_prod, base, server_dev, etc.) that ultimately it seems much cleaner to make changes in those files then to have a separate override w

[2017-06-07 14:20] leebenson commented on #34
Thanks for this analysis @zachlendon - I have some thoughts on solving your two points that I'll get over later today when I'm back in the office and not limited to my phone.

[2017-06-07 18:03] leebenson commented on #34
Addressing the first point (i.e. custom Webpack), the files in [kit/webpack](https://github.com/reactql/kit/tree/master/kit/webpack) export a [webpack-config](https://github.com/Fitbit/webpack-config) object, so they're all extendable out-the-box.

Let's say you want to extend [browser_prod.js](https://github.com/reactql/kit/blob/master/kit/webpack/browser_prod.js), you might do something like thi

[2017-06-07 20:24] zachlendon commented on #34
Thank you very much @leebenson for the detailed responses.

The webpack configuration merging you suggest works for me - I mentioned that in my initial paragraph (here modifications are defined and merged with the kit's configurations) and while I see some drawbacks to it (one more layer of configuration), it seems the best tradeoff I'd agree so I'm full steam ahead with that approach personally.

[2017-06-07 23:09] leebenson opened #35 "Fix image optimisers in Docker"
Currently, only png and gif image optimises correctly build binaries in Docker (and possibly locally, too):

  ⚠ pngquant pre-build test failed
  ℹ compiling from source
  ✖ Error: pngquant failed to build, make sure that libpng-dev is installed
    at ChildProcess.exithandler (child_process.js:252:12)
    at emitTwo (events.js:125:13)
    at ChildProcess.emit (events.js:213:7)
    at maybeClose (

[2017-06-07 23:20] leebenson commented on #34
The `Dockerfile` has been released in [1.7.0](https://github.com/reactql/kit/releases/tag/1.7.0)

Bump the ReactQL cli with `npm i -g reactql` to start a project with the latest version.

Then in your project folder, build the Docker image in the usual way:

`docker build . -t your_project`

You can then run with:

`docker run -it -p 4000:4000 your_project`

.. which should spawn the server on htt

[2017-06-08 20:09] Extra-lightwill commented on #23
***Tracked in https://github.com/reactql/old_docs/issues/7

[2017-06-12 01:50] tanekim77 opened #36 "Relay Modern Support?"
Hi, I think a lot of people would rather opt in Relay Modern instead of Apollo, since Relay Modern is optimized for performance. I understand Apollo used to dominate Graphql client before Relay Modern officially released few weeks ago, but now the game is changing. Would you mind giving us a choice for Relay Modern when creating a project? Also, I think Relay Modern should be the default choice, a

[2017-06-12 06:10] leebenson commented on #36
A community PR for Relay Modern is in the works [here](https://github.com/Extra-lightwill/kit).

I'd like to see a show of hands of for Relay Modern demand before committing to an 'official' kit. I use Apollo in production, and it's pretty solid. Relay Modern is newer, and is slightly more opinionated in how it fetches data. It also introduces a build step that isn't needed in Apollo, which would

[2017-06-12 09:41] Extra-lightwill commented on #36
I agree with above. Relay is pretty much purpose-built for React (even though the new version allows for integration with other view libraries). Obviously the guys at Apollo have done an incredible job but it's not a library written by Facebook so there may be challenges when APIs update. Relay Modern also seems to address a lot of the complexity that existed in Classic.

[2017-06-12 11:58] zachlendon commented on #36
I'd prefer to use Apollo or at least let their be a choice.  One could argue that Apollo is simpler but less feature rich from an adoption perspective, which has worked for the implementation I've been involved with where we are using Apollo.  Relay Modern is also newer from an OSS end of things at least and while that might well match the more cutting-edge nature of this project there has been a

[2017-06-12 18:32] mnpenner commented on #36
I have no strong opinion one way or the other. I've only *just* integrated Apollo because Relay Modern hadn't released yet. I'm finding subscriptions to be a bit tedious to implement in Apollo, and the documentation is weak. I'm getting a warning that I should start using `GraphQLTransportWSClient` but that doesn't even exist yet.

So for me, I want:

1. ease of development, not a lot of boilerpla

[2017-06-12 19:48] leebenson commented on #36
Thanks for everyone's thoughts so far.

@mnpenner - did you see the [GraphQL server example](https://github.com/reactql/examples/tree/master/graphql-server) in the [examples](https://github.com/reactql/examples/) repo?

It's a simple but relatively complete demo for adding Apollo's Koa-based GraphQL server to your existing ReactQL project.

If you want to dig a bit deeper and add SQL to the mix, I

[2017-06-12 20:23] scf4 commented on #36
@mnpenner

It seems it's much worse with Relay (https://github.com/facebook/relay/issues/1655), but take a look at https://github.com/apollographql/subscriptions-transport-ws/issues/169

@tanekim77

Specifically in which ways? From what I've reading it seems Relay Modern has only just caught up to some optimizations which Apollo has had for a year, such as persisted queries.

I wouldn't say being

[2017-06-12 20:54] Extra-lightwill commented on #36
@scf4 I'm just speculating. In truth, it's still hard to judge at this stage. I'm also aware that the Apollo team and Relay team are in contact so this may not be an issue in the future. Ofc, there's going to be tradeoffs whichever is chosen. I'm equally not opposed to using Apollo if that is deemed the better choice.

[2017-06-13 04:29] tanekim77 commented on #36
@scf4 I think that it is too early to judge Relay Modern, and the best approach for now is to wait and see. However, what remains true is that Facebook will continue to invest on Relay Modern focussed on optimization on React Framework, and it will eventually become a stable release that is likely to outperform Apollo at the cost of having opinionated and inflexible implementation compared to Apol

[2017-06-13 15:51] leebenson commented on #36
If either framework has optimisations over the other, they'll likely relate to data handling/caching and not necessarily be reflected in React or other upstream UI providers. Both frameworks simply feed props into a React component; they each have exactly the same access to React's surface API, so FWIW I'm not aware of any means by which Relay could offer 'deeper' integration than Apollo or any al

[2017-06-13 16:49] scf4 commented on #36
Good points, Lee. I think Relay has some optimizations with shouldComponentUpdate, and I also like the sound of how it ensures components properly declare the data they need, but I have no idea what it's like in practice.

It'd be interesting to see some perd benchmarks.

[2017-06-13 23:18] Extra-lightwill commented on #36
Perhaps it's worth tracking the Relay issues that are relevant to this conversation (e.g. SSR support / store hydration etc.) in this thread? Then re-assess once both frameworks can be deemed 'stable'.

[2017-06-14 11:27] leebenson commented on #36
@Extra-lightwill - sure, good idea.

----

**Tracking Relay features:**

- [ ] SSR support
- [ ] Store (de/re)hydration
- [ ] Custom stores / attaching Redux or alternatives to a common store

----

Feel free to chime in with posts to appropriate issues, documentation added or other features that should be tracked.

[2017-06-21 15:34] leebenson commented on #20
I'll close this for now - feel free to submit a PR though @jtmthf if it's something you want in.

[2017-06-21 15:34] #20 closed

[2017-06-21 15:52] #35 closed

[2017-06-25 21:34] loelsonk opened #37 "node-sass errors"
I found small bugs.

It is related to what I have said on reactql/docs#1.

---

Anytime I add new package I have to `npm rebuild node-sass` to get my project back to work.

Here is console output I am getting:

![image](https://i.imgur.com/KQwNhcP.png)

---

Another `node-sass` related error. I am getting is when I try to add new package eg. `semantic-ui`. I just can't do it when my webpack dev se

[2017-06-26 06:24] leebenson commented on #37
That sounds like some kind of error with either node-sass or NPM. I'm not sure how ReactQL can have much control over the packaging process.

Generally, I do `rm -rf node_modules; npm i` whenever there's a major change. I've not faced the edge-case of having to rebuild node-sass with every package addition, though. I can usually just `npm i -S <package>` and be done with it. Maybe an NPM thing?

R

[2017-06-26 06:24] #37 closed

[2017-06-26 08:13] pfulop opened #38 "[Q] Best approach to authentication."
Hi,
First I'd like to thank you for such an amazing work.

I have question about authentication. When we used custom boilerplate, we tend to put JSON Web Token in store, and access the store from apollo network middleware.

[code]

In your boilerplate, you use same code for both server and client initialization (with minor option changes). This basically makes it hard to access store from client (

[2017-06-26 11:51] leebenson commented on #38
@pfulop - I'll be tackling authentication patterns in an upcoming version. It's actually something I'm doing in a live project now, so the kit will get some 'official' support for it.

The way it'll be handled is likely a combination of cookies and localStorage. There are stub functions [here](https://github.com/reactql/kit/blob/master/kit/lib/apollo.js#L28-L38) that allow customisation of the cli

[2017-06-26 19:40] pfulop commented on #38
Sounds good, can't wait.

[2017-06-27 13:47] KROT47 opened #39 "Flow types enhancement"
Greetings!

First of all, Great work! Thanks!)

What do you think of adding [Flow](https://flow.org/) to the kit?

[2017-06-28 13:15] NiluK opened #40 "How do I handle server-side graphql errors?"
Hi all,

Firstly, I love the kit. It's been amazing.

I've run into a small issue where I am using Authentication / Authorization for a GraphQL server. All it does currently is throw an error when the user is not Authenticated - this works fine client side, but on server side, it just fails entirely.

[code]

How would I tell the kit to ignore any GraphQL errors and still render the the React comp

[2017-06-28 14:48] leebenson commented on #39
I don't use Flow personally (yet), but I'm open to supporting it as long as it doesn't get in the way (which I believe is one of the USPs of Flow, right?)

[2017-06-28 21:03] leebenson commented on #40
By default, the server is set-up to catch errors in the generic handler that's set-up on all Koa routes:

[code]

That's because how errors should be handled is entirely up to the developer. In some cases, getting back an empty or erroneous response from a GraphQL endpoint is enough to crash the request rather than render back a half-formed component. Other times, you might not want to expose erro

[2017-06-28 21:03] #40 closed

[2017-06-29 00:02] NiluK commented on #40
That fixed it, thank you very much.

[2017-06-29 09:22] ClemensSahs opened #42 "[Webpack config] stage 3 for koa-send"
Is this a know issues?

./node_modules/koa-send/index.js:37
async function send (ctx, path, opts = {}) {
      ^^^^^^^^
SyntaxError: Unexpected token function

I got this in every blank installation. Browser Build work fine.

[2017-06-29 09:27] leebenson commented on #42
Upgrade to the latest version of Node, where `async/await` is available.

[2017-06-29 09:27] #42 closed

[2017-06-29 09:45] ClemensSahs commented on #42
@leebenson oh... realy... sorry my mistake

[2017-06-29 14:29] KROT47 commented on #39
Hello again)

I've added flow support to kit. Look at it [here](https://github.com/KROT47/kit/tree/flow) and tell your thoughts. I can create PR if all is ok. Or maybe you think smth is not good enough?

[2017-06-29 14:57] leebenson commented on #39
Thanks for your time on this, @KROT47. I will test it out more thoroughly over the weekend/early next week, and give you the green light on a PR once I've had time to play around with it.

[2017-06-29 15:05] KROT47 commented on #39
Ok. Have a nice weekend ;)

[2017-06-30 11:31] kajohnsonjd opened #43 "Windows problem on browser-dev after updating"
I have run through the code and could not locate the problem.  No changes to the config other than the Apollo url for my backend.  Could be that I did the update incorrectly.

![image](https://user-images.githubusercontent.com/18404204/27733854-539c31a0-5d66-11e7-94bd-2943475db97e.png)

![devserveroutput](https://user-images.githubusercontent.com/18404204/27733707-82a5e0dc-5d65-11e7-90af-f66124325

[2017-06-30 11:37] leebenson commented on #43
When you say 'updating', what do you mean exactly? Did you start a new project with the [CLI](https://github.com/reactql/cli) and copy your custom app code over, or did you update the kit from _within_ your current project?

[2017-06-30 11:51] kajohnsonjd commented on #43
Inside the file I moved my src code and config, deleted everything else, upgraded ReactQL and ran the CLI and then added my src back in.  Glad I kep the config because it oddly didn't appear and had to add it in, but Ive double checked it against kit and it appears to be the same.

Sent from my iPhone

[2017-06-30 16:15] leebenson commented on #43
If you had to add in the `kit/webpack` config manually, then something definitely went wrong with your update.

The official recommendation is to run `reactql new` in a new folder, move over your custom `src`, and re-add your `kit` and NPM packages.

Try that, and if it still doesn't work, feel free to re-open.

[2017-06-30 16:15] #43 closed

[2017-07-02 10:57] balciseri opened #44 "Peer dep missing after update 1.11.0 - 2017-06-30"
After updating reactql, eslint stopped working.
With this error: https://github.com/airbnb/javascript/issues/1454
This is why : https://github.com/airbnb/javascript/issues/1447
airbnb doesn't support eslint v4

To reproduce:
[code]
Just press enter to get the defaults.
`cd reactql-app`
and run
`npm ls`
this is what you'll get:
[code]

[2017-07-02 10:59] leebenson commented on #44
@balciseri - good catch- I knew there was a reason I'd held off from bumping to Webpack v3 before now, but it seemed to be working locally. I'll revert to v2 in the next version.

I've got 'add tests' on my to-do to avoid this kinda thing in future.

[2017-07-02 14:53] #44 closed

[2017-07-02 15:46] leebenson commented on #44
In [1.12.0](https://github.com/reactql/kit/releases/tag/1.12.0), I reverted to ESLint v3 which fixed `npm run lint`.

There are still a few peer-dependency issues due to the Webpack v3 bump, but they're just warnings; Webpack still works well, and produces smaller bundle sizes too.

I also added a Travis CI step to verify that the kit can build and passes linting.

[2017-07-06 13:28] chainlink opened #45 "Importing External Style Library (Semantic-ui-react)"
First off thank you for an excellent boilerplate kit. I only wish all projects came with this level of polish and documentation!

I'm having a devil of a time getting this is play nicely with the [Semantic UI Library](https://github.com/Semantic-Org/Semantic-UI-React) and I think this issue externals to using external styles in general

Steps to Reproduce:

1. `npm install semantic-ui-react --save

[2017-07-06 13:36] leebenson commented on #45
Thanks for the nice words, @chainlink. I've actually got Semantic UI running locally-- I'll drop some code here in a little while that shows you how to solve this.

[2017-07-06 15:15] leebenson commented on #45
Ok, so to fix this, you just need to place your import statements inside a ***.global.css** file, like so:

**styles.global.css**
[code]

And then import _that_ file as normal:

**app.js**
[code]

That will take care of the CSS. By using *.global.css, you're telling the css-loader in Webpack to avoid hashing class names. It will still go through the PostCSS optimisation pipeline, so the minified v

[2017-07-06 15:15] #45 closed

[2017-07-06 16:27] chainlink commented on #45
Cool thanks!

[2017-07-06 23:18] scf4 opened #46 "Debugging issues which only occur in production build"
Any tips?

I'm getting an issue with `react-virtualized` but only in production, and it's not SSR related.

I've tried changing node_env to development and building but it doesn't build properly and breaks things.

Edit: looks like things run just fine without uglify.

[2017-07-07 04:39] #46 closed

[2017-07-07 04:41] scf4 commented on #46
Really not sure what the issue was, but things seem fine after going back and forth through different commits and deleting my `node_modules` dir a few times, as well as switching to a newer ReactQL webpack file.

[2017-07-08 10:02] KROT47 commented on #39
@leebenson so, is it no good?

[2017-07-08 10:38] leebenson commented on #39
@KROT47 - my apologies, I've not had time to explore this in the detail it deserves yet. Will get back to you soon - thanks again!

[2017-07-08 10:41] leebenson commented on #39
@jtmthf - do you have any thoughts on @KROT47's [implementation of Flow](https://github.com/KROT47/kit/tree/flow) for the kit - to possibly run alongside your Typescript variant?

I don't personally tend to use type checking in JS, so you may have more intelligible thoughts on the differences between Flow and TS, and if/how they might co-exist.

[2017-07-08 15:50] mwarger commented on #38
👍

[2017-07-09 19:21] gihrig commented on #38
@leebenson

My understanding is that local storage is vulnerable to being read from JS, but (secure) cookies are not. Perhaps I misunderstood your intent, but for anyone interested, there's an article from Stormpath on the subject here: [Where to store your jwts - cookies vs html5 web storage](https://stormpath.com/blog/where-to-store-your-jwts-cookies-vs-html5-web-storage). tldr; jump to the Conc

[2017-07-09 19:46] leebenson commented on #38
Yes @gihrig, that's exactly right.

Depending on how how your authentication system is implemented, it _might_ be necessary to utilise both cookies and localStorage (or some kind of ephemeral approach to allowing access in JS).

The reason is this:

When a user hits the ReactQL web server, the web server will query the GraphQL server for data. It may send down a JWT at that point and consider that

[2017-07-09 20:13] gihrig commented on #38
@leebenson

Sounds fantastic! Thanks for the detailed expose'. I'm really looking forward to trying out your implementation ✨

[2017-07-12 10:25] clodal opened #50 "Integrating third-party style frameworks modularly"
Would it be possible to extend ReactQL to allow for modular style imports from 3rd party frameworks? e.g. [Use modularized antd](https://ant.design/docs/react/introduce#Use-modularized-antd)

I read the ReactQL [docs](https://reactql.org/docs/stylesheets/globals) on third party frameworks. I understand that the current solution is to import the framework from the css side of things with the `@impo

[2017-07-13 00:19] claym opened #51 "Where to put non-changing web assets?"
Less a issue than a question:

I've got a custom font I can't really link to elsewhere - what is the recommended location to put fonts or images that won't change frequently enough to worry about caching?

[2017-07-13 07:57] leebenson commented on #51
Put them in `/static`.

Anything in that folder will get copied over to `dist/public` and made available publicly by your web server, but will avoid the transpilation pipeline. So images, fonts, PDFs etc will remain per their originals.

[2017-07-13 07:57] #51 closed

[2017-07-13 08:04] leebenson commented on #50
Yes, it's possible. In the case of antd, you'd just need to update the Webpack babel config to use the antd babel plugin.

See this [block of code in webpack/browser.js](https://github.com/reactql/kit/blob/master/kit/webpack/browser.js#L51-L80) and [this in webpack/server.js](https://github.com/reactql/kit/blob/master/kit/webpack/server.js#L76-L93)

We don't support it in core because the number o

[2017-07-13 08:04] #50 closed

[2017-07-13 08:05] leebenson commented on #50
FWIW, I'd still recommend the `styles.global.css` import route generally. That way, you're guaranteed to import _everything_ in the framework's CSS, including (as you've seen) edge cases like animations -- and you don't have a separate plugin to maintain.

[2017-07-17 21:37] claym opened #52 "Heroku Deployment?"
Has anyone deployed a ReactQL app to Heroku?

It's not working especially smoothly right off the bat, and while I'm working through the issues, just wondering if anyone else has done it and happens to know the steps needed.

It's mostly complaining that stuff like run-p and cross-env aren't installed (they are in devDependencies)

Or perhaps I'm doing this all wrong :)

[2017-07-18 00:45] tzarger commented on #39
Since the Typescript kit is falling behind and not an option at this point, thought about supporting this Flow kit or adding it in, since it can be added and enabled optionally if a person chooses to do so like in react-create-app? @leebenson

[2017-07-18 01:02] tzarger commented on #38
@leebenson Interested in seeing your implementation as well. One thing to keep in mind, is that it would be nice if you can add another strategy which is when you have a mobile app as well that would need to talk to the GraphQL server. Say you have an included [GraphQL Server](https://github.com/reactql/examples/tree/master/graphql-server) and the web side is SSR and you also have a mobile app tha

[2017-07-18 08:29] leebenson commented on #38
@tzarger - that's basically the strategy I had in mind. JWT would be the primary mechanism for communicating with the GraphQL server - the initial cookie to the web server for SSR is just a means to render the initial HTML, since on the first request we're limited to HTTP headers.

This is high on my to-do list, so I'll get round to this real soon.

[2017-07-18 08:33] leebenson commented on #52
@claym - check out https://github.com/reactql/cli/issues/45 and see if that helps. The issue is focused around port config, but it seems @lawwantsin was able to get a ReactQL app spinning with Heroku, so he may be able to offer some pointers for other parts if you're running into issues.

I'll eventually add an Heroku guide to the docs. It's not an environment I typically use, so I haven't given i

[2017-07-18 08:33] #52 closed

[2017-07-18 08:33] leebenson commented on #52
And feel free to re-open https://github.com/reactql/cli/issues/45 directly if you have any related issues.

[2017-07-18 08:40] leebenson commented on #39
@tzarger, it's definitely on my to-do to explore. Before I commit to a first-class Flow implementation, I need to set some time aside to go through @KROT47's code. I don't use Flow personally so I want to make sure it's not going to introduce maintenance overhead that I can't support.

As with the Typescript variant, it's easy to fall behind when there are multiple kits floating around, so I'd lik

[2017-07-18 14:18] claym commented on #52
Ok, there was alllll sorts of issues with this thing

1) pretty much any package required by the build process needed to be moved to the dependencies.

2) the ports thing is an issue. Heroku tells the app which port to bind to via env.process.PORT, as opposed to whichever variable ReactQL binds to. Which wasn't really the most difficult thing to update, but it does require messing about with the i

[2017-07-18 14:33] leebenson commented on #52
**Dynamic hosts**

Just like `SERVER_PROD_PORT=$PORT npm run server` in https://github.com/reactql/cli/issues/45, you can set `SERVER_PROD_HOST` for binding to a dynamic host.

https://stackoverflow.com/questions/22954782/install-devdependencies-on-heroku seems to solve the `devDependencies` thing on Heroku:

**Heroku and `devDependencies`**

**Docker?**

The kit contains a [Dockerfile](https://gi

[2017-07-18 14:36] claym commented on #52
Yeah, for the host, I used SERVER_PROD_HOST=0.0.0.0

As for the devDependencies thing, I took a few cues from relay-fullstack which seems to be aimed at Heroku.

I'll give Docker a try tonight.

[2017-07-20 12:36] bakystefan opened #53 "How to import CSS"
Hi, I'm using Reactql while making my personal website and I'm adressing you with an issue I'm having. I have a problem when a component I'm using for my gallery is expected to read my .css file. It is implied that a component is expecting me to @import url('link');  in styles.css. Also, I tried to import a link into my browser HTML file (knowing that is something I should not be doing) . Is there

[2017-07-20 12:43] leebenson commented on #53
Have you read https://reactql.org/docs/stylesheets/ ?

If you're still having issues after reading the docs, please re-open this and post some code, and I'll take a look.

[2017-07-20 12:43] #53 closed

[2017-07-20 13:14] bakystefan commented on #53
Thanks man, i have resolved my problem in global css file.

[2017-08-05 03:22] wmhafiz opened #54 "Integrating Kea.js"
Hi,

[Kea](https://kea.js.org/) is a very interesting library that provides high level abstraction between React, Redux, Reselect & Redux Saga & make coding in redux so much simpler & fun!

I'm trying to Integrate Kea.js library into ReactQL  and seems like I got both server & browser to render fine during `yarn start`, but `yarn build` fails with the following errors:

[code]

Please review the c

[2017-08-05 09:53] leebenson commented on #54
I haven't explored Kea, so I don't have any immediate answers on that front - but I'm releasing kit v2.0 this weekend, which will refactor how reducers are added to the kit, so this might change how you go about connecting the two.

In ReactQL (as in classic Redux), actions are intended to be shared across multiple components and simply listen to state. Actions and reducers are defined once, not p

[2017-08-05 09:53] #54 closed

[2017-08-05 13:33] mariusandra commented on #54
Hey, author of Kea here. Just to clarify some points about sharing actions between components.

The syntax of Kea that you might see on the [hompeage](https://kea.js.org) where actions are defined above components is just one of the ways to use the library. This way is analogous to using React's `setState`, but in a *reduxy* way.

Once you need to share logic between files, you take the same `@kea

[2017-08-05 13:49] leebenson commented on #54
Thanks for taking the time to clarify, @mariusandra.

[2017-08-06 02:57] wmhafiz commented on #54
Great answer @mariusandra !
And indeed that solved the build problem!
Cheers!

Since @leebenson is releasing kit 2.0 soon, I'll monitor the situation with great interest.

[2017-08-06 13:51] leebenson opened #55 "Static building fails per `chunk-manifest-webpack-plugin`"
Track https://github.com/soundcloud/chunk-manifest-webpack-plugin/issues/47#issuecomment-320508231

[2017-08-06 17:26] leebenson commented on #34
I've just released ReactQL [v2.0.0](https://github.com/reactql/kit/releases/tag/2.0.0), which introduces userland configuration of GraphQL -- as well as the option to run a built-in GraphQL server. See the release tag for details.

This will generally be the approach for config settings going forward, so I'll go ahead and close this thread.

[2017-08-06 17:26] #34 closed

[2017-08-06 17:33] leebenson commented on #36
With [kit v2.0](https://github.com/reactql/kit/releases/tag/2.0.0) introducing a built-in Apollo server and use of [apollo-local-query](https://www.npmjs.com/package/apollo-local-query), integration with the Apollo stack is deeper than ever-- so I see less of an impetus to switch to Relay beyond the argument that it's "from Facebook".

I'll leave the tracker (above) open for the community to fill

[2017-08-06 17:33] #36 closed

[2017-08-06 17:35] leebenson commented on #39
I've decided to leave ReactQL as a 'pure' ES6 starter kit in the main. The Typescript branch has proven how easy it is to fall behind, and opting for Flow/TS as the main project is making an opinionated decision that risks dividing users.

I'll close this for now.

[2017-08-06 17:35] #39 closed

[2017-08-06 20:01] leebenson opened #56 "Docker build error"
return binding.open(pathModule._makeLong(path), stringToFlags(flags), mode);
                 ^

    at Object.fs.openSync (fs.js:652:18)
    at fs.readFileSync (fs.js:553:33)
    at __webpack_require__.map.name (/src/dist/server.js:577:110)
    at Array.map (native)
    at Object.<anonymous> (/src/dist/server.js:577:66)
    at __webpack_require__ (/src/dist/server.js:20:30)
    at Object.<anonymo

[2017-08-08 17:47] tsdexter opened #58 "add graphcool (or any) authentication"
Is there any plan to add an example with graphcool authentication (or any authentication) to show/hide routes/data for logged in users?

I think it'd be quite handy to see the 'done properly' way of doing this.

[2017-08-09 09:07] leebenson commented on #58
I'm working on authentication this week. It'll handle OAuth and updating a local Redux store too. Will keep you posted.

[2017-08-09 09:26] Bitti09 commented on #58
👍

[2017-08-09 17:14] rajatpandit opened #59 "passportjs"
hi - first off thank you for the amazing framework - it works very well.
i wanted to know if there were some working examples of passportjs/facebook/with a store
i can see the code works very well with generic koa
git@github.com:wahyudibo/koa-passport-facebook-example.git

but i can't get it to work with reactql. also using koa-session on reactql just sets the session in the encrypted cookie makin

[2017-08-09 17:16] leebenson commented on #59
Everyone's asking about auth lately :smile:

See https://github.com/reactql/kit/issues/58 and https://github.com/reactql/kit/issues/38

I'm working on authentication this week and should have some solid first-class support by next week, hopefully. Will keep you posted.

[2017-08-09 19:21] Bitti09 commented on #56
@leebenson  can' reproduce the error  with todays repo state:
`> reactql-app@2.1.0 server /src

   ┌────────────────────────────────────────────────┐
   │                                                │
   │   Running server in production mode            │
   │                                                │
   │   - Local:            http://x.x.x.x:4000      │
   │   - On Your Network:  http://

[2017-08-09 19:25] leebenson commented on #56
thanks @Bitti09 - I fixed this in https://github.com/reactql/kit/commit/22f9b4a3210f3f2808083e2e76048fc784849891 - just forgot to close the issue 👍

[2017-08-09 19:25] #56 closed

[2017-08-09 20:38] TimMikeladze commented on #38
@leebenson Just heads up in case ReactQL is interested in consuming these packages in the future: we're working on full stack authentication over at https://github.com/js-accounts/ and there are React and GraphQL packages already. We do not however have a Koa middleware yet, last I checked ReactQL uses a Koa server. In the future it may be possible to avoid writing server specific middleware entir

[2017-08-10 18:54] eudaimos commented on #45
@chainlink if it helps (and for people coming here in the future /cc @leebenson ) - we're working with `semantic-ui-react` and moved away from using the `semantic-ui-css` import to using [semantic-ui-less](https://github.com/Semantic-Org/Semantic-UI-LESS) which allows you to define and build themes

[2017-08-13 21:42] Bitti09 opened #61 "[Q] How to add a second entry point?"
Whats the best way to add a second entry point in reactql?

Already readed https://webpack.github.io/docs/multiple-entry-points.html but either i'm blind or the needed
 config is splitted over the  js files in webpack folder?

[2017-08-14 00:39] tsdexter commented on #38
@leebenson if you want to avoid adding a GraphQL server to the kit I have access to the graphcool Schema Extensions Beta which allows you to roll your own resolvers and other server side code - I can create a project and add you as a user if you want use that for the setup.

https://www.graph.cool/forum/t/feedback-schema-extensions-beta/405

https://github.com/graphcool-examples/functions/tree/mas

[2017-08-15 18:09] zunder opened #62 "Prevent modules: true for external libs with css"
I am using `antd` as a third party library for react components. Using reactql causes issues with styling, as it is not applied on the antd components leaving them naked. My best guess would be, that antd's css imports are treated as local module imports. If I set `modules: false` for all css loaders in `common.js` of webpack configuration, antd components are styled perfectly fine. I am not super

[2017-08-15 18:53] leebenson commented on #62
You shouldn't need to mess with webpack. Just add your CSS import statements to a `styles.global.css` file, and import that instead.

Anything that happens within `.global.(scss|sass|less|css)` file is preserved when exporting, so the original class names will remain.

Let me know if you run into any issues.

[2017-08-15 18:53] #62 closed

[2017-08-15 19:04] zunder commented on #62
@leebenson

You mean importing the third-party css through import in `styles.global.css`? Antd suggests the import of their styles through `babel-plugin-import` plugin, like this:

[code]
While using this method, I had to do this change `common.js` for it to work:
[code]

But I see that it is also possible to load the styles through the `styles.global.less` like you suggested and I guess this bein

[2017-08-15 19:08] zunder commented on #62
@leebenson
One downside of **not** using the import of these styles with `babel-plugin-import` is that the whole antd package is being included, resulting in a bigger bundle size.

[2017-08-15 20:01] leebenson commented on #62
No prob, glad it helped.

[2017-08-17 15:04] #61 closed

[2017-08-19 06:11] wmhafiz commented on #59
any update on Authentication?  Will it support Social Login such as Facebook and Google login?

[2017-08-19 08:33] leebenson commented on #59
I've been working on auth this week, and I'm hoping to have a working app in the examples repo by the end of the weekend.

This first version will likely be just e-mail/password auth (it uses Sequelize and an in-memory SQLite DB, along with a custom handler for JWT tokens).

Once it's up, I'll likely augment that with custom routes (which can now be defined in userland, as of [2.0](https://github.

[2017-08-19 08:38] leebenson commented on #58
FYI for related threads - see https://github.com/reactql/kit/issues/59#issuecomment-323509731 for an update on adding auth.

[2017-08-19 08:38] leebenson commented on #38
FYI for related threads - see https://github.com/reactql/kit/issues/59#issuecomment-323509731 for an update on adding auth.

[2017-08-19 08:55] leebenson commented on #38
Thanks @tsdexter, but I've decided to avoid using Graph.cool in starter kit code, to provide a more complete example of end-to-end GraphQL (client + server) without reliance on any third-party service.

A local GraphQL server was added in [2.0](https://github.com/reactql/kit/releases/tag/2.0.0) by default, and subsequent releases have enabled better orchestration of GraphQL config. So it's up to y

[2017-08-19 20:08] gihrig commented on #59
I have struggled to sync up social/O-auth logins with local user/password accounts. Having this ability in ReactQL would be Awesome! ✨ 💖 ✨

[2017-08-26 08:23] leebenson commented on #38
Quick update:

After some delays this week, I've now finished the first version of authentication and will be releasing to the examples repo tonight. Will post here when done.

This first version introduces 'universal' JWT (available on `localStorage` in the client, and via cookies to subsequent SSR requests) to enable session re-loading in any environment.

Here's a sneak peak at what it looks li

[2017-08-26 08:23] leebenson commented on #58
See https://github.com/reactql/kit/issues/38#issuecomment-325102058 for an update

[2017-08-26 08:24] leebenson commented on #59
See https://github.com/reactql/kit/issues/38#issuecomment-325102058 for an update for local JWT auth.

This will shortly be extended to allow for social logins.

[2017-08-26 19:15] leebenson commented on #38
It's ready! -> https://github.com/reactql/examples/tree/master/auth

Will follow-up soon with a video explainer - there's a lot going on here.

[2017-08-26 20:33] leebenson commented on #38
Video explainer on YT -> https://youtu.be/s1p4R4rzWUs

I'll go ahead and close this now, but will update the thread once I've also added social logins.

[2017-08-26 20:33] #38 closed

[2017-08-26 20:33] leebenson commented on #58
Video explainer on YT -> https://youtu.be/s1p4R4rzWUs

I'll go ahead and close this now, but will update the thread once I've also added social logins.

[2017-08-26 20:33] #58 closed

[2017-08-26 20:40] leebenson commented on #59
Auth has been released! -> https://github.com/reactql/examples/tree/master/auth

Video explainer on YT -> https://youtu.be/s1p4R4rzWUs

This first version uses email/password auth against an in-memory SQLite DB. It sets all up the GraphQL types, DB tables, fixtures, middleware and JWT handling.

I'll augment this example shortly with Passport.js (or similar) handling for social logins, so external

[2017-08-27 14:54] nate0001 opened #64 "HTTPS Support"
With the recent support of enabling CORs options and the auth example, it would really be nice to be able to run the servers as HTTPS or HTTP. I see the getURL functions have the flag in there as well. Are there plans to build support for this?

[2017-08-27 16:43] reactgoo opened #65 "method to change app.context"
Koa has option to change app.context (the prototype from which ctx is created from). Could we have a method to do that without modifying "kit" folder files?

[2017-08-27 17:42] leebenson commented on #65
I've got 'general purpose `app` middleware' on my to-do list, for manipulating the Koa `app` instance directly, which would make this possible. Will update this issue when released.

[2017-08-27 17:54] leebenson commented on #64
yep, it's on to my radar, especially with [experimental support for http/2](https://nodejs.org/api/http2.html) landing in the Node.js core.

I'm planning on adding a `config.enableSSL()` or similar function for adding a key/cert combo for auto-https in Koa in the coming days.

However, where possible, I'd recommend keeping SSL upstream, in Nginx or equivalent. A good load balancer/proxy is general

[2017-08-27 17:59] nate0001 commented on #64
You can also use the http2 module. I was able to get the server portion running on http/2, but the browser wasn't. Would it matter if the browser portion wasn't?

My use case is AWS. Not sure how our traffic proxies are setup.

[2017-08-27 18:17] leebenson commented on #64
http/2 support in Node is experimental, and has a streaming interface for pushing data back and forth (opening up a few websocket-like interesting use cases). I definitely wouldn't recommend running anything in production on it yet.

In the meantime, I'll implement `https` for SSL.

It shouldn't. The browser bundle only communicates with the server over GraphQL, so it doesn't care what's running t

[2017-08-28 14:09] CaptainChemist opened #66 "Improvement- Help with Webpack configuration for React Storybook"
I have been working on integrating react storybook with the reactQL package. [Storybook ](https://storybook.js.org/)is a way to rapidly prototype react components and it has really been speeding up my development time. It also has automatic jest snapshot testing in place, which helps catch regressions that break the UI.

[Here is a forked version that I almost have 100% operational](https://github

[2017-08-28 16:00] #65 closed

[2017-08-28 16:06] leebenson commented on #64
Released in [2.6.0](https://github.com/reactql/kit/releases/tag/2.6.0). `npm i -g reactql` to upgrade.

[2017-08-28 16:07] #64 closed

[2017-08-28 16:07] leebenson commented on #65
Released in [2.6.0](https://github.com/reactql/kit/releases/tag/2.6.0). `npm i -g reactql` to upgrade.

[2017-08-29 04:33] reactgoo opened #67 "isomorphic cookies"
Is there any workaround to get cookies from React component when SSR?

[2017-08-29 08:00] leebenson commented on #67
Check out https://github.com/reactql/examples/tree/master/auth

It uses cookies on the server, and stores the same data as JWT on the client. The effect is essentially universal cookies; both environments can access the same data.

Alternatively, when you're setting cookies, you can pass the `{ httpOnly: false}` flag on the call to `ctx.cookies.set()` call (like [here](https://github.com/reactql/e

[2017-08-29 08:00] #67 closed

[2017-09-01 15:30] leebenson commented on #59
Passport.js has been integrated, with a Facebook example ->

https://github.com/reactql/examples/tree/master/auth

Video commentary to follow later.

[2017-09-01 15:30] #59 closed

[2017-09-01 15:31] leebenson commented on #58
Passport.js has been integrated, with a Facebook example ->

https://github.com/reactql/examples/tree/master/auth

Video commentary to follow later.

[2017-09-01 15:31] leebenson commented on #38
Passport.js has been integrated, with a Facebook example ->

https://github.com/reactql/examples/tree/master/auth

Video commentary to follow later.

[2017-09-01 15:46] ralexandr opened #68 "The ability to replace BrowserRouter with just Router"
Hi, thank you for your great kit and for making our lifes a little bit simplier 👍

In my project I need to access browserHistory object to manage navigation inside my redux actions.
I've replaced BrowserRouter with Router inside 'browser' entry and passed history object created with 'history/createBrowserHistory' to Router component as a prop.
And now I'm able to control this history my importing

[2017-09-01 21:48] gihrig opened #69 "Altering source import path"
I'm really liking ReactQL, You've hit a nice balance between out-of-the-box functionality and flexibility! 😄

So far, moving an existing project to ReactQL has been pretty painless.

I do have an issue I'm kind of stuck on at present though.

The original source project includes extensive configuration for Eslint, Prettier and Storybook. These use an import path which has ./src as the universal im

[2017-09-01 22:03] gihrig commented on #69
From `kit/webpack/base`
[code]

I just added `PATHS.src,` and - problem solved! I'm really lovin' ReactQL! 😁

[2017-09-02 19:00] ghost opened #70 "Not enabling graphql results in error"
If you don't enable the graphql server, an error occurs in the browser

`Uncaught Error: A remote endpoint is required for a network layer
    at HTTPFetchNetworkInterface.BaseNetworkInterface (networkInterface.js:29)
    at new HTTPFetchNetworkInterface (networkInterface.js:50)
    at createNetworkInterface (networkInterface.js:185)
    at getNetworkInterface (apollo.js:29)
    at browserClient (

[2017-09-03 10:47] leebenson commented on #70
That's by design; the kit expects at least one GraphQL endpoint.

However, I do think this could be handled more gracefully. It may also be possible to avoid GraphQL altogether, in those rare instances where Apollo instantiation isn't required. The issue is doing it in a way that doesn't lead to bundle bloat and also doesn't result in an async request to that specific part of the bundle by doing a

[2017-09-03 15:08] leebenson commented on #69
I initially thought of making `PATHS.src` the _first_ import path. That would enable you to write exactly as you're doing - e.g. `import 'components/x'` instead of the slightly more verbose `import 'src/components/x';

But on reflection, I think explicitly stating `src` vs. say, `kit`, makes it clear you're pulling in your own code and not something part of ReactQL proper. It also enforces a patte

[2017-09-03 15:13] leebenson commented on #69
Actually, one use case I hadn't considered until just now is kit shadowing.

Say you have `kit/entry/browser.js` that you want to override in some significant way, outside of `config.*` functions. You could potentially create `src/kit/entry/browser.js` which would 'shadow' the original whenever an `import x from 'kit/entry/browser.js'` statement is encountered.

I'll re-open this and test. If it w

[2017-09-03 21:28] reactgoo opened #71 "graphql endpoint uri in production"
I made project with default kit files -> npm run build -> npm run server

When I visit page at mydomain.com all graphql queries from client go to "http://localhost/graphql"

I can fix this by setting "defaultHost" to my mydomain.com in env.js. Is it proper behavior?

[2017-09-04 02:54] ralexandr commented on #71
I have the same problem. Is there any proper way to set host for production (with nginx as a web-proxy) without changing kit's files?

[2017-09-04 07:37] leebenson commented on #71
Setting `SERVER_DEV_HOST` and `SERVER_PROD_HOST` is _supposed_ to update the endpoints in each environment, but I'm running into issues locally too.

I'll refactor `kit/lib/env` today to work as expected.

[2017-09-04 17:44] #71 closed

[2017-09-04 20:08] gihrig commented on #69
I agree, it would be valuable to have the ability to alter ReactQL's behavior without altering ReactQL's code, facilitating kit updates.

Some thoughts though:

1. Shadowing kit parts would not work for features not directly consumed by userland code e.g. webpack config.

2. Seems a bit extreme to entirely replace, rather than just extend a bit of ReactQL like `'kit/entry/browser.js'`.

I acknowle

[2017-09-05 23:21] wmhafiz commented on #59
This is great! Cant wait for the followup video. 👍

[2017-09-06 15:54] fmauNeko opened #72 "Importing packages from the Typefaces project breaks Webpack"
Hello,

if I try to import a font from one of the KyleAMathews/typefaces project, webpack compilation breaks.

I also tried to use CSS imports from a .global.css file but had no success either.

Is there any way to make this working ? I want to avoid importing from external CDNs as much as possible.

Thanks !

Here's the error I get in the console:
[code]

[2017-09-07 10:15] leebenson commented on #72
What _should_ be possible is simply importing the css into `styles.global.css`:

[code]

However, it seems that `@font-face` is simply ignored on imports.

I'll investigate this today.

[2017-09-07 10:36] leebenson commented on #72
Found the issue to ^^^: https://github.com/ben-eb/cssnano/issues/374

Basically, `cssnano` was removing unused `@font-face` declarations. Since this was being pulled from an external file, it reached the end of the file and saw it wasn't used, so discarded it - rendering it unavailable to the calling CSS file.

Bumping to `cssnano@next` fixes it, which I'll do in the next release (later today.)

T

[2017-09-07 11:04] fmauNeko commented on #72
I was indeed importing it from my js file, like I did in a `create-react-app` application, which works.
I'll bump to `cssnano@next` and import in from `styles.global.css` then, thanks a lot !

[2017-09-07 11:06] leebenson commented on #72
generally, direct imports from .js will work, but they'll follow the Webpack build config for the rest of the system -- i.e. if you're just doing `require('typeface-bla');`, it'll think that's a JS file and not .css specifically, hence the 'unknown token' error.

You could do `require('typeface-bla/index.css')`, but then you'll get local modules (which shouldn't be an issue with `@font-face` decla

[2017-09-07 12:24] fmauNeko commented on #72
Yeah that's what I'll do from now on. Which is the proper way to be honest.
Anyway with `cssnano@next` everything works like a charm !

Thanks for your time :)

[2017-09-07 12:28] leebenson commented on #72
my pleasure. Gimme a shout if you run into any other issues.

[2017-09-07 13:29] leebenson commented on #72
fixed in [2.8.2](https://github.com/reactql/kit/releases/tag/2.8.2)

[2017-09-07 13:29] #72 closed

[2017-09-07 13:56] leebenson commented on #66
Apologies for the delay in getting to this, @CaptainChemist

I've worked with Storybook before, pre-ReactQL. I wound up extending per [full control mode](https://storybook.js.org/configurations/custom-webpack-config/#full-control-mode) -- as a means to extend, rather than replace, the Webpack config.

A big issue is that Storybook uses Webpack 2, whereas ReactQL uses Webpack 3. Trying to get the t

[2017-09-07 13:56] #66 closed

[2017-09-07 14:01] leebenson commented on #66
Also -> https://github.com/storybooks/storybook/issues/731#issuecomment-289725399

[2017-09-07 19:21] corpz opened #74 "can't provide jQuery"
Maybe I don't understand this webpack config properly, but I can't provide jQuery globally

I put ProvidePlugin where I can, but it does not work for me
[code]

[2017-09-08 15:28] nate0001 opened #75 "Maintain state on refresh"
It would be cool to extend state rehydration to browser refresh. I think this is done using localStorage so a package like store2?

[2017-09-09 08:49] leebenson commented on #75
This could probably be handled with redux middleware. I'll add a config function so this can be set in userland, in the next release

[2017-09-11 21:03] utkuturunc commented on #38
@leebenson Why not use cookies both in client and server?

We can set httpOnly to true so that JS cannot read cookies.

POST /login (or POST /auth) can set the cookie.
POST /logout (or DELETE /auth) can remove the cookie.
GET /auth can get the users current status (and may return user profile information)

This way the client doesn't need to access the cookie anytime and we have a more secure and

[2017-09-11 22:21] leebenson commented on #38
@utkuturunc - the example I posted demonstrates both JWTs and cookies, because often the front-end has no control over how the back-end is implemented , and many GraphQL servers won't implement cookies directly. In our example, we only use cookies for the initial SSR -- everything else is a JWT token.

Of course, in your own app, you can implement it however you want. This isn't an 'official' impl

[2017-09-12 00:16] edolyne commented on #55
@leebenson I'm running into this issue when building a static site. Is there a fix to allow static sites to be built?

[2017-09-12 00:30] giovannimoreno commented on #55
@edolyne this is working for me

`yarn add --dev https://github.com/sigerello/chunk-manifest-webpack-plugin.git#1.1.2-fix`

or (npm) `npm i --save-dev https://github.com/sigerello/chunk-manifest-webpack-plugin.git#1.1.2-fix`

[2017-09-12 15:45] zunder opened #76 "Theming through less.modifyVars"
I am trying to apply theming through less by modifying the variables in order to load a certain set variables contained in a `@{theme}.global.less` file:

[code]

[code]

For some reason calling `switchTheme('dark')` does not do anything here. I am wondering if it is completely less specific or if the issue is known in this kit.

[2017-09-12 16:28] ofairfoul commented on #38
@leebenson thanks for your example and video that is really helpful. One thing I don't fully grasp is that you mentioned it should work x-domain. But if the graphql server is on a different domain to the ssr server, after calling the login mutation how can the graphql server set the cookie to be used on the subsequent requests to the ssr server?

[2017-09-13 00:00] wmhafiz commented on #75
Definitely will be a handy feature! Looking forward to it!

[2017-09-13 02:27] caedmon opened #77 "how to pass cookies to external graphql server"
I've modified the auth example to use an external graphql server, and to only use a cookie for the JWT.  I ran into a problem with SSR in getting the JWT to the graphql server.  The only way I could manage to make it work was by modifying the createNetworkInterface() function in server.js to copy the cookie to the apollo network options.  Unfortunately middleware is called too late to do it there.

[2017-09-13 11:05] NiluK commented on #77
This is what I did:

// Server

[code]

Browser

[code]

[2017-09-13 11:25] leebenson commented on #77
@NiluK - be careful you're not running into edge cases with code above.

`config.setApolloNetworkOptions` changes the options for _all_ server rendered requests - so if you're attaching a request-specific auth header, that same header might be re-used on the _next_ request -- even if the next user hasn't authenticated!

The appropriate way to fix this would be to have a separate function -- say, `

[2017-09-13 12:39] NiluK commented on #77
@leebenson Good catch, that isn't something I was aware of, thanks. Is there a specific use case you're thinking of? I just double check it now with 4 different application caches (Chrome authenticated, Chrome incognito unauthenticated, Safari incognito unauthenticated, Firefox incognito unauthenticated + mobile versions) and they all seem to be handling correctly.

[2017-09-13 13:27] leebenson commented on #76
Less is being transformed to CSS statically via Webpack. By the time you're using less in userland, the resulting CSS has already been built and `styles.css` is already in the browser with the original `@theme`, so AFAIK that's outside of the realm of programmatic access.

I don't use Less personally so there may be some way that the `less-loader` is able to sync with userland code, but I'm not aw

[2017-09-13 13:27] #76 closed

[2017-09-13 13:44] leebenson commented on #77
I'm not sure if the above will _definitely_ happen, but I designed `config. setApolloNetworkOptions()` to be applied globally -- so it's worth checking that you're not accidentally passing options to the next request.

It's used by `getNetworkInterface()` in [kit/lib/apollo.js](https://github.com/reactql/kit/blob/master/kit/lib/apollo.js), which is called by `createNetworkInterface()` in [kit/entr

[2017-09-13 14:12] NiluK commented on #77
@leebenson Excellent catch, thanks. That is indeed exactly what it does. I'll wait for your modified code before continuing further.

[2017-09-13 16:39] caedmon commented on #77
@leebenson sounds like a good plan.  Thanks.

[2017-09-13 23:00] edolyne opened #78 "Heroku SSL $PORT timeout"
I'm currently running `v2.8.5` and I'm running into and issue with SSL on a free Heroku dyno.

Leaving the app settings as is the app runs the `graphql` server via http which loads the entry page without issue, however when navigating to a new route the route is blank as it won't allow mixed content to be loaded.

I've attempted to fix this by trying two different changes in my app settings:

`con

[2017-09-14 07:50] leebenson commented on #78
Per [these lines](https://github.com/reactql/kit/blob/master/kit/entry/server.js#L399-L404) in `kit/entry/server.js`, ReactQL looks for an environment var named `SSL_PORT` to bind an HTTPS server.

Have you tried running with `SSL_PORT=$PORT` in the Heroku command line?

[2017-09-14 16:00] edolyne commented on #78
@leebenson I do have the SSL_PORT set, but it's still calling a http graphql server.

[2017-09-15 04:17] ralexandr opened #79 "Make app.use(koaHelmet()) optional"
Hi! Could you please give the ability to turn off koaHelmet inside app.js (througn config instance) ?
I need to run reactql bundle in an environment where headers are read-only and koaHelmet can't work properly in such situation.
I will be very handy if there will be a method (smth like **config.disableKoaHelmet**) for managing koaHelmet (like it is already done for bodyParser).

[2017-09-15 08:46] leebenson commented on #79
good idea - I'll add that to the next release.

[2017-09-15 08:46] leebenson commented on #74
I'll explore this in the next release

[2017-09-15 08:47] leebenson commented on #68
I'll explore a better pattern for this in the next release

[2017-09-15 16:56] leebenson opened #80 "Apollo 2.0 - roadmap/feedback"
With [Apollo 2.0 now in beta](https://dev-blog.apollodata.com/whats-coming-in-apollo-client-2-0-bcd8ea64acbd) now available, a ReactQL bump to the latest Apollo client is just around the corner.

As well as being smaller and more nimble, v2 will also be modular - removing the implicit Redux store and `createNetworkInterface()`, and replacing them with a (eventual) plethora of explicit caching and

[2017-09-15 17:29] jbaxleyiii commented on #80
🎉🎉🎉🎉🎉🎉🎉🎉🎉

[2017-09-15 22:36] mnpenner commented on #80
- Subscriptions + real-time updates by default sounds great
- Dropping Redux sounds nice. The fewer ways have to manage state the better, as long as the new way supports all the use-cases. In particular, I'm interested to know how you would handle form state without Redux? We wouldn't be able to use a library like Redux Form, which means we're back to square one again.
- Caching between browser an

[2017-09-16 00:02] leebenson commented on #80
All state would be GraphQL. Just like in the recent [auth example](https://github.com/reactql/example-auth), filling out a form (be it an email/password login box, or a full-blown contact form) could be a mutation like this:

[code]

In the above, we're passing an `email` and `password` from a form, and getting a fully-qualified `user` object back, along with errors in a `{ field, message }` forma

[2017-09-16 01:07] mnpenner commented on #80
I'm still not certain how forms would work with GraphQL. Would every keypress fire a mutation? Because that's effectively what we're doing now -- either moving the current input into the component's state or Redux's store. Isn't that a big chunk of overhead per keypress? Loading and saving is of course fine to do with GraphQL.

Well of course I wouldn't expect to be logged out if I press refresh 😄

[2017-09-16 09:19] leebenson commented on #80
Not necessarily. You could use React's local `state` for ephemeral data, and then fire the mutation `onSubmit`. Unless other components require access to every keystroke, firing a Redux reducer `onKeyPress` is probably overkill, anyway.

GraphQL mutations aren't necessarily any more expensive than the equivalent reducer in Redux, when used locally. We're talking 1-2ms of overhead.

Yup. The idea w

[2017-09-16 17:41] mnpenner commented on #80
I've found it necessary to put form state into redux. It's too much work to
bubble up the state from deeply nested subcomponents. It also makes
validation much easier if you have access to everything. And state isn't
lost it you show/hide the form. And sometimes you do want to respond to
form changes in real-time from other components.

I'll guess I'll have to dig into this deeper and see how feas

[2017-09-16 21:45] lookagit commented on #78
It looks like  build take more than 60seconds and and therefore throws out an error
https://devcenter.heroku.com/articles/dynos#web-dynos
When I restart aplication several times app is up and running , although graphql does not work yet
on  the client side
![rsz_screenshot_from_2017-09-16_23-38-53](https://user-images.githubusercontent.com/17603638/30516229-d53d41da-9b38-11e7-94bc-9789ef1afe74.png

[2017-09-16 21:57] leebenson commented on #78
good catch @lookagit.

I'm working on some performance optimisations that should lead to quicker builds overall, but a better longer-term solution to this would be to pre-build using the Docker image instead (which Heroku supports as a deployment style.)

Running the Docker image and attaching to `$PORT` will only take 1-2 seconds, because the distribution bundle will have been built before it's p

[2017-09-16 22:03] lookagit commented on #78
i hardcoded in
export function browserClient() {
  return createClient({
    networkInterface: getNetworkInterface('https://bar-soft.herokuapp.com/graphql'),
  });
}
and my graphql is live finally :D

[2017-09-18 16:07] nate0001 commented on #80
I wouldn't get rid of redux. Many people will still want to use redux (and storing into local graphql is a big shift). There's also the case if you are connecting to an external graphql server that you have no control over. So you would have to use redux anyway.

[2017-09-18 17:23] leebenson commented on #80
@nate0001 - I'm exploring a more modular approach to ReactQL, that would allow you to progressively add features to the stack - including Redux. You'd also be able to do this in userland in exactly the same way as it's currently done-- it would just stop being a hard requirement.

I'm not sure what you mean by external GraphQL servers and Redux. All a GraphQL server does is receive queries, and re

[2017-09-18 18:31] nate0001 commented on #80
@leebenson - I really like the idea of the modular approach and it's the main reason why I've chosen to use this kit over others (nextjs, create-react-app, etc) for a project at work.

What I meant by external GraphQL server is that the above scenario depends on you running a local (in process) GraphQL server. However, some people won't always have that luxury. For instance, the project I'm workin

[2017-09-18 18:57] leebenson commented on #80
@nate0001 - understood. I'm working on a new framework that will make it very easy to swap out pieces of ReactQL. So if you want to build a monolithic app with GraphQL running on Node - and you want all the goodies like built-in session handling, JWT auth, etc - that'll be a case of dropping in just one preset.

If you want to connect to a third-party server and build client-side code statically,

[2017-09-20 14:08] zunder commented on #76
@leebenson Thanks, that makes sense.

Regardless of less, how do you manage the theming requirement using this kit?

[2017-09-20 14:40] leebenson commented on #76
@zunder - I'm not exactly sure what you mean by 'theming requirement', but ALL css of any kind - whether it be plain CSS, SASS or LESS - is done in userland at `src/app.js`.

So it's entirely up to you how you lay it out.

For example, you could have two classes like:

[code]

... and then import them:

[code]

... and then choose which class you want dynamically inside a React component:

[code]

[2017-09-22 14:25] klarstrup commented on #68
Is this different from `history` provided by `react-router`'s `withRouter` HoC?

[2017-09-22 14:49] ralexandr commented on #68
No, but i can't use `withRouter` in my redux actions directly. I'm forced to wrap with `withRouter` my react component and pass `history` object from component's props to redux action.
I want to keep my component simple, don't use `withRouter` and get `history` directly inside my redux action.

[2017-09-22 14:50] klarstrup commented on #68
Ah, I missed the redux action part! :thinking: Carry on

[2017-09-23 08:02] gihrig commented on #80
I'm in favor of all options you have discussed. Starting with a more modular architecture and adding features as they become available.

Woot! exciting times ahead ✨ 💖 ✨

[2017-09-24 13:12] xtools-at commented on #31
you could try the[ sw-precache webpack plugin](https://github.com/goldhand/sw-precache-webpack-plugin), I've put it into browser.js webpack config and it gives you a sophisticated service worker made by Google, which handles all the Offline stuff.

[2017-09-24 13:14] xtools-at commented on #74
@corpz works fine for me, in kit/webpack/browser.js, I've added
[code]

to the _plugins_-array.

[2017-09-24 13:27] #74 closed

[2017-09-24 16:21] nate0001 commented on #80
@leebenson will you be upgrading redux-persist to v5? It's a major API change

[2017-09-24 20:56] caedmon opened #81 "how to configure with jest"
I see jest in package.json but it seems there's a bit more config needed to be able to use it to test React components.  Any plans to add that either in kit or an example?

[2017-09-25 16:57] nate0001 commented on #81
What do you mean there's a bit more config needed?

I've got jest tests working without any additional config or setup.

[2017-09-25 18:19] caedmon commented on #81
@nate0001 I did install react-test-renderer@next but still can't get it to work.

I get 'Unexpected token' on the JSX.  Missing babel config?
And eslint doesn't recognize test, describe, it, expect.  Missing eslint config?

[2017-09-25 21:20] nate0001 commented on #81
I see what you mean. I had to install `eslint-plugin-jest`. Add `jest/globals: true` to `env` and add `jest` to `plugins` in `.eslintrc.js`.

The `Unexpected token` is caused by not importing React.

[2017-09-25 22:55] nate0001 commented on #81
Sorry there was some more. I submitted a PR.

[2017-09-26 17:22] nate0001 opened #85 "Compiling to static results in error"
I'm getting this error when trying to load the static build

[code]

[2017-09-27 02:03] DrReMain opened #86 "browser_prod: background-image in stylesheets rise a error"
ERROR in ./src/views/Home/index.css
    Module build failed: ModuleBuildError: Module build failed: Error: dyld: Library not loaded: /usr/local/opt/libpng/lib/libpng16.16.dylib
      Reason: image not found

[2017-09-27 02:12] DrReMain commented on #86
Because of  image-webpack-loader!!!
I solved this on OSX: https://www.npmjs.com/package/image-webpack-loader#libpng-issues

But it still have problem on win10

[2017-09-27 03:26] NiluK commented on #77
@leebenson just wondering if there was any updates to this? Thanks.

[2017-09-27 05:25] NiluK commented on #80
I'm happy with dropping with redux as long as there is a decent migration guide for it. Unfortuantely, a lot of our projects depend on actions and reducers so losing redux without ability to add support in userland would seriously hinder our progress. So long as userland redux is fully supported, I am in favour of dropping redux - no need to add unused dependencies.

[2017-09-27 07:57] leebenson commented on #80
We're not currently using `react-persist`, so it wouldn't be an upgrade, but rather an introduction. What's probably best is an API that allows you to orchestrate the Redux middleware stack in userland rather than editing `kit/lib/redux.js` directly, then you can throw in whatever you like.

I've been playing around with a few approaches. My initial goal was to release something that would look so

[2017-09-27 08:02] leebenson commented on #77
Not yet @NiluK. I put this on hold, pending https://github.com/reactql/kit/issues/80#issuecomment-332441041

I was initially considering making the switch to Apollo v2 before tackling any more userland API changes, but I'll probably wait a bit for the ecosystem to mature before swapping out the Apollo pieces. So the above should find its way into the next release.

[2017-09-27 08:16] leebenson commented on #86
You're probably best submitting an issue on image-webpack-loader, since image compression is something that's handled externally.

[2017-09-27 08:16] #86 closed

[2017-09-27 08:17] leebenson commented on #75
I'll close this for now, since I'm tracking in https://github.com/reactql/kit/issues/80#issuecomment-332441041

[2017-09-27 08:17] #75 closed

[2017-09-27 09:40] leebenson commented on #85
See https://github.com/soundcloud/chunk-manifest-webpack-plugin/issues/47#issuecomment-320508231

It can be fixed per https://github.com/reactql/kit/issues/55#issuecomment-328696200

The above will be pushed with the next release, but you can use that directly in the meantime.

[2017-09-27 09:40] #85 closed

[2017-09-27 12:10] NiluK opened #87 "Apollo not SSRing properly with Async Graphql queries."
Hi @leebenson,

I'm not entirely sure if this is a ReactQL issue or a Apollo issue but it looks like ReactQL does not server side render properly if an asynchronous request is used in the resolver.

I have a query that does this:

[code]

And the resulting screenshot when in a JavaScript enabled environment renders correctly:

![Resulting Render](https://puu.sh/xK6iw/46c0e16089.png)

However, in t

[2017-09-27 12:16] leebenson commented on #87
@NiluK - can you also include the code of the React component that uses this data, please?

It should definitely be waiting:

<img width="1123" alt="screen shot 2017-09-27 at 13 15 38" src="https://user-images.githubusercontent.com/719722/30912891-1ccc0676-a386-11e7-9767-24b49998b3dd.png">

[2017-09-27 12:22] NiluK commented on #87
@leebenson Sure, here you go

[code]

here is the query file as well

[code]

[2017-09-27 13:11] nate0001 commented on #80
My bad. Looks like i've got some packages installed that I never removed. 😆

[2017-10-03 13:11] jimmyjamieson opened #90 "External graphql server"
I'm not sure if this is me, or just the docs being slightly out of date.

However, in config/project.js I've added a graph.cool endpoint to test i.e.

import config from 'kit/config';
config.enableGraphQLServer(true);
config.setGraphQLEndpoint('https://api.graph.cool/simple/v1/xxx');

But I'm not sure how I'm supposed to test if this actually works? From what I understand I can just create a new q

[2017-10-03 18:54] noeljackson commented on #90
@jimmyjamieson This is a confusing one. But it makes sense.

I'm not a fan of having GraphQL servers and clients wrapped together, but ReactQL has moved in that direction, so you need to DISABLE the internal server, for the external endpoint to work.

[code]
or

[code]

Depending on the version of ReactQL you're using.

[2017-10-03 20:08] jimmyjamieson commented on #90
@noeljackson thanks. Doesn't seem to make a shred of difference. http://localhost:8081/graphql is still showing local with the dummy message block.

Perhaps I need to set these config options in another place? The docs do say config/project.js though

[2017-10-03 20:13] jimmyjamieson commented on #90
Im on the latest kit provided by the cli

[2017-10-03 20:53] noeljackson commented on #90
@jimmyjamieson Try setting it in app.js: https://github.com/reactql/kit/blob/master/src/app.js Read through the comments, and apply the logic of "disabled GraphQL server" == "I can use an external endpoint"

[2017-10-03 21:01] leebenson commented on #90
`config.enableGraphQLServer()` is for enabling the built-in GraphQL server. _Every_ ReactQL project assumes that GraphQL will be used _somewhere_ (either built-in, or externally), so there's no equivalent for disabling GraphQL entirely-- the aforementioned function simply enables the built-in server.

If you want to point to an external server, use:

[code]

... _without_ any calls to 'enableGraph

[2017-10-03 21:01] #90 closed

[2017-10-04 00:18] jimmyjamieson commented on #90
Ok got it. Just in case anyone else has the same issue

open src/app.js

change line config.enableGraphQLServer();
to
// config.enableGraphQLServer();
config.setGraphQLEndpoint('https://api.graph.cool/simple/v1/xxxx');

Thanks :)

[2017-10-04 11:37] NiluK commented on #87
@leebenson I managed to figure out the issue, it was unrelated to the kit.

The components were encapsulated in a ScrollToTop container:

[code]

And the routing was done like this:

[code]

Looks like SSR was failing because there was no div tag encapsulating the Helmet and Switch tags, once I added that, it SSRed properly once again.

Thanks.

[2017-10-04 11:37] NiluK commented on #87
__

[2017-10-04 11:37] #87 closed

[2017-10-06 21:06] nate0001 opened #91 "Problems accessing assets in production in a tunneled environment"
Running this in an AWS environment that gets hosts rerouted with paths.

IE my server is accessible from `our-aws-environment.com/my-app`.

The problem I'm having is that the app is requesting vendor, manifest, style, etc from `our-aws-environment.com/manifest` (which results in a 404). This should be `our-aws-environment.com/my-app/manifest` (which are accessible) instead.

Having trouble trying

[2017-10-06 21:15] leebenson commented on #91
You can use [react-helmet](https://github.com/nfl/react-helmet) (installed by default) to set a `<base target="_blank" href="http://our-aws-environment.com/my-app/" />` tag.

[2017-10-06 21:15] #91 closed

[2017-10-06 21:27] nate0001 commented on #91
What file would I do this in?

Got an example?

[2017-10-06 21:28] leebenson commented on #91
Use it in any React component where you want to affect the `<head>` output.

For example:

https://github.com/reactql/kit/blob/master/src/components/main/index.js#L68-L73

[2017-10-06 21:58] nate0001 commented on #91
This doesn't work. The stylesheet, manifest, browser sources are using absolute paths `/assets/css/style`, `/manifest`, and `/browser`. The `<base>` header tag only works with relative paths.

See https://webdesign.tutsplus.com/articles/quick-tip-set-relative-urls-with-the-base-tag--cms-21399

[2017-10-07 19:59] akusany2 opened #92 "Environment settings"
For production, I need to set host server IP instead of localhost. So I am executing the server like:

$ HOST=xx.xx.xx.xx npm run server
or
$ HOST=xx.xx.xx.xx
$ npm run server
or
inside package.json
cross-env HOST=xx.xx.xx.xx node dist/server

But if I console.log(process.env.HOST) it gives back localhost only, not the HOST.

Because of this graphql queries are always searching for **localhost:400

[2017-10-08 14:45] arsanjea commented on #68
I second ralexandr's request. This is a key missing feature that takes a few seconds to add if I'm not missing anything:

In kit/lib/routing.js:

[code]

in kit/entry/browser.js:

[code]

in src/components/main/index.js (test):
[code]

[2017-10-09 15:11] akusany2 commented on #92
Found the solution in other repo of ReactQL. [issue-45 of reactql/cli](https://github.com/reactql/cli/issues/45).

In short - we have to declare env variables BEFORE build :
`HOST=xx.xx.xx.xx npm run build && npm run server`

BTW awesome kit, loved it!!

[2017-10-09 15:11] #92 closed

[2017-10-09 15:16] #78 closed

[2017-10-10 02:52] arsanjea opened #93 "Errors in development reference dist/server_dev.js instead of project source code"
While using the latest version of reactql, errors in development mode are referencing the compiled dev source code (dist/server_dev.js), making it challenging to debug my project.

[2017-10-10 08:07] noeljackson commented on #93
The source map is not engaging properly to give you the mapped location of the errors?

[2017-10-10 12:52] arsanjea commented on #93
Nope. Not sure why. I haven't made any change to the kit and config folders...just to the src folder

[2017-10-11 00:31] arsanjea commented on #93
Also, chrome://inspect does not seem to stop at breakpoint or to allow me to view source files it is referring to (although source maps are enabled). And that's on two very distinct devices.

[2017-10-13 18:38] arsanjea commented on #93
@leebenson any idea as to what's happening?

[2017-10-16 17:19] Ahakke opened #96 "Unable to run app with PM2 for production"
Hello,

i want to deploy my reactql app using the processmanager pm2 (v 2.7.1)

All attempts to launch the app using pm2s "npm start" scripts are failing.

i have tried two different commands:

pm2 start npm -- start  //works with non reactql apps

using the pm2 ecosystem file:
apps:[{
name:"myapp",
script:"npm",
args:"start",
}]

All my other node apps work fine except or this one..

my app uses

[2017-10-16 17:23] klarstrup commented on #96
after `npm run build` the command to start a production server is `npm run server`

[2017-10-17 09:43] leebenson commented on #96
I'll tackle this in the next release. PM2 would be a nice addition.

[2017-10-17 09:44] leebenson commented on #69
I've started using `src` as an implicit root in some of my own projects, and it's working out nicely. I'll get this added as the first look-up path in the next release.

[2017-10-17 10:14] leebenson opened #98 "Add optimised Docker image"
Test and add https://github.com/reactql/kit/pull/97

[2017-10-17 11:00] leebenson opened #99 "Add CORS config to webpack_dev_server"
Currently, `http://localhost:8080` won't hot-reload when a ReactQL project is bound to a non-localhost IP due to cross-origin restrictions. This makes it difficult to test over a LAN.

This needs adding to the Webpack dev config:

[code]

[2017-10-17 11:00] leebenson opened #100 "Add Docker Compose"
Add a Docker Compose config, to make it trivial to develop locally whilst keeping distribution and `node_modules` inside a Linux container.

Trivial example:

**Dockerfile**

[code]

**docker-compose.yml**

[code]

Related to #98 (optimising the Docker image) and #99 (enabling CORS with hot browser reloading)

[2017-10-17 11:51] leebenson opened #101 "Add new `<Helmet>` syntax"
Currently, [React Helmet](https://github.com/nfl/react-helmet)'s `<Helmet>` syntax uses an object to define head tag data.

It's preferable / idiomatic to instead use full HTML tags instead of remembering object key names.

Related to #94

[2017-10-17 13:38] leebenson opened #102 "Add <base> for flexible path mounting"
Currently, ReactQL assumes that the app will be mounted at `/`. For CDN usage and apps mounted to non-root paths, this breaks.

Add a `<base>` tag and ensure all assets assume a relative path.

[2017-10-17 16:47] #81 closed

[2017-10-17 16:47] #55 closed

[2017-10-17 16:47] #69 closed

[2017-10-17 16:47] #79 closed

[2017-10-17 16:47] #99 closed

[2017-10-17 16:47] #101 closed

[2017-10-17 16:47] #102 closed

[2017-10-17 16:47] #98 closed

[2017-10-17 17:25] leebenson commented on #100
added in 2.9.0

[2017-10-17 17:25] #100 closed

[2017-10-17 21:56] leebenson commented on #77
Features released in kit [2.9.1](https://github.com/reactql/kit/releases/tag/2.9.1) and [2.9.2](https://github.com/reactql/kit/releases/tag/2.9.2) should be enough to implement custom cookie handling/Apollo instantiation.

You can now do something like this:

[code]

The Apollo client will instantiate automatically at `ctx.apollo.client` and will merge `ctx.apollo.options`(passed to `new ApolloCli

[2017-10-17 21:56] #77 closed

[2017-10-18 09:47] leebenson commented on #85
This has been fixed as of [2.9.0](https://github.com/reactql/kit/releases/tag/2.9.0) btw

[2017-10-18 09:49] leebenson commented on #91
Automatic handling of `<base>` has been added as of [2.9.0](https://github.com/reactql/kit/releases/tag/2.9.0), which can be overridden by simply adding your own base tag inside of Helmet, like so:

[code]

[2017-10-18 09:54] hellojere commented on #99
I do get an access to the site like before, but I'm still getting blank images and no hot-reloading unfortunately.

I span up a fresh install from the latest kit where I can see the above lines as well, and changed the `localhost` to `0.0.0.0` on every dev environment related file.

[2017-10-18 10:31] leebenson commented on #99
You shouldn't need to change any files. Running this ought to work:

[code]

Make sure you're running the latest kit:

4.9.2

If that's still not working, try the Docker version:

[code]

That should bind to `localhost` on whichever machine you're running it from. If you have Docker set-up to work across the network, you should also be able to access your Docker IP on port 8080

[2017-10-18 11:50] leebenson commented on #68
Released in [2.9.3](https://github.com/reactql/kit/releases/tag/2.9.3).

[kit/lib/routing.js](https://github.com/reactql/kit/blob/master/kit/lib/routing.js) now exports a `history` which is injected into the browser entry point.

I've included an example in the out-the-box project on fresh installs, which shows `history.push()` being invoked directly.

[2017-10-18 11:50] #68 closed

[2017-10-18 13:00] idkjs opened #103 "Mongodb?"
I feel like i remember an early version of this using mongodb. Is there an example using that?

Great project. The documentation really helps to understand what is going on. Thanks!

Thank you.

[2017-10-18 13:54] nate0001 opened #104 "Font path issue in production"
Using semantic-ui-react and semantic-ui-less for styling. In production mode, I'm getting the following error:

[code]

[2017-10-18 14:35] leebenson commented on #96
I've added PM2 to the project's [Dockerfile](https://github.com/reactql/kit/blob/master/Dockerfile) in [2.9.4](https://github.com/reactql/kit/releases/tag/2.9.4), which is also fired automatically when spawning a production build with Docker Compose:

[code]

By default, the Dockerfile will exec in cluster mode and spawn one process per CPU core, which makes it ideal for production.

In the develo

[2017-10-18 14:35] #96 closed

[2017-10-18 14:51] leebenson commented on #103
Maybe you're thinking of [Meteor](https://www.meteor.com/)?

The closest we've got is https://github.com/reactql/example-auth, which uses an in-memory SQLite database to demonstrate one way you might implement user auth.

Of course, you're totally free to use whichever database makes sense to you on the back-end, in any way you want-- ReactQL doesn't restrict you.

[2017-10-18 14:51] #103 closed

[2017-10-18 15:59] leebenson commented on #104
This is an issue introduced by [2.9.0](https://github.com/reactql/kit/releases/tag/2.9.0), where a `<base>` tag was added to the resulting HTML, and all `/` prefixes dropped from assets.

Note: It affects _every_ asset defined in CSS - fonts, images, etc.

Since CSS doesn't conform to parent HTML `<base>` tags, assets are being loaded relative to where the CSS is hosted, which is causing the issue

[2017-10-18 19:29] nate0001 commented on #93
I've seen this as well. Sometimes errors reference dist/ code and it makes it hard to debug.

[2017-10-19 13:52] leebenson commented on #93
Is this something that was confirmed working in previous versions? AFAIK, the server (both dev and production) was never targeted for source mapping. I've tried `devtool: 'eval'` and all other source variants, and the best I've been able to get so far is this:

  throw new Error('bla');
  ^

    at ServerConfig._config2.default.getKoaApp.app [as koaAppFunc] (webpack:///./src/app.js?:21:9)
    at e

[2017-10-19 15:37] arsanjea commented on #93
It was actually pretty easy to solve (but maybe I am missing the point)
You just need to add source-map-support as a devDependency and add the following at the top of your code:

[code]

[2017-10-19 16:54] leebenson commented on #93
@arsanjea - would you mind sending a PR for this? adding this locally doesn't yield any change, so I'd be interested to see how you've done it.

[2017-10-19 18:23] nate0001 commented on #93
There's also this babel plugin. https://www.npmjs.com/package/babel-plugin-source-map-support

Not sure what would be the better solution.

[2017-10-19 19:05] arsanjea commented on #93
Sure - traveling today, but I’ll take care of it tomorrow.
Again, not sure it’s the best solution.

Sincerely,
Jean-Marc Arsan

C +1 (310) 435-9983

[2017-10-20 00:38] brambow opened #105 "redux store: subscribe, getState?"
I'm trying to adapt an app that was built with create-react-app.  I'm using a library that expects the application store to include the store.subscribe and store.getState functions, but if I use { connect } to map the reactql redux store (not apollo store) to props, subscribe and getState aren't available.  Any way to get those available?

create-react-app + redux store
{dispatch: ƒ, subscribe: ƒ,

[2017-10-20 00:55] brambow commented on #105
Nevermind.  This is not specific to ReactQL, I just need to learn redux better.  In this case I can use context and pass the full store instead of using connect.

[2017-10-20 00:55] #105 closed

[2017-10-20 14:39] gmchaturvedi1 opened #106 "how to use styled-component"
hi
 i am new to this. can u suggest how to use styled-component in this .

Reagrds
gmchaturvedi

[2017-10-20 15:16] leebenson commented on #106
If you're talking about the [styled-components](https://github.com/styled-components/styled-components) package, there's no special provisions to need to make to a ReactQL project - just import it and use.

If you mean something else, please be more specific.

[2017-10-25 07:21] leebenson opened #109 "Tighten env var security in browser bundles"
See https://github.com/reactql/kit/pull/107#issuecomment-339238321

[2017-10-25 08:26] leebenson opened #110 "ES6 -> Typescript"
A while back, we had a community-supposed [Typescript version](https://github.com/reactql/kit.ts) of the kit. This was deprecated as a result of version slippage against the ES6 kit, but provided a great way enjoy a mostly 'type safe' ReactQL experience.

Since the last commit in August, ReactQL has gone through several major iterations, including the addition of a built-in GraphQL server and a `C

[2017-10-25 08:47] codeandgraphics commented on #106
Hi!
styled-components works at http://localhost:8080, but if I use SSR, at http://localhost:8081 got error:
```Warning: Prop `className` did not match. Server: "header__StyledH1-q4sydt-0 eHXSDZ" Client: "sc-bdVaJa rOCEJ"```
and nothing styled. I suppose it need special provisions to SSR part

[2017-10-25 08:54] klarstrup commented on #109
There still needs to be a way to, from userland, allow additional env vars through to the client.

Things like api hostnames/credentials(ie. dev vs stage vs prod) and analytics keys are environment level settings that are needed in the browser bundle. (And for the former example also needed server side for SSR.)

[2017-10-25 09:00] gihrig commented on #106
There's discussion around styled components and SSR [here](https://github.com/styled-components/styled-components/issues/386).

It looks pretty complex... 😦

SSR is addressed in SC [docs](https://www.styled-components.com/docs/advanced#server-side-rendering). Maybe that will provide answers.

[2017-10-25 09:01] klarstrup commented on #31
I was having a faff about with redux-offline & redux-persist and found out that they do not give a care about bootstrap data from the server render, very botherous. Might have to leave this part of the PWA stuff alone until we're on Apollo 2 and not presuming redux any more.

[2017-10-25 10:09] leebenson commented on #106
re-opening - there might be cause to add this to `kit/entry/server.js` officially.

[2017-10-25 15:02] codeandgraphics commented on #106
For me, it's looks like
[code]

[code]

Then I passed `styles` to `kit/views/ssr.js`
[code]

It works, but still shows warning `Warning: Prop `className` did not match. Server: "header__StyledH1-q4sydt-0 eHXSDZ" Client: "sc-bdVaJa rOCEJ"`, because styled-components from client binds too

[2017-10-25 20:22] arsanjea opened #111 "Docker build fails when the source references a *.png in the static folder"
#Steps to reproduce:
[code]
add png file to static
just import the file in app.js

[code]

#Error
[code]
#git repo
https://github.com/arsanjea/reactql-fail-compile-docker

[2017-10-26 00:28] ralexandr commented on #111
Found this Issue https://github.com/imagemin/pngquant-bin/issues/65#issuecomment-315744927

[2017-10-26 08:54] leebenson commented on #111
@ralexandr - that issues actually doesn't apply here; the PNG optimiser uses the shared library rather than the binary. The issue is that the last step in the Docker build process is `apk del .gyp` which kills `libpng16.so.16 `.

Commenting out that line fixes it, but also bloats the final image by 150mb+ due to the build artefacts remaining. One solution might be to separate the `apk add` instruc

[2017-10-26 09:10] leebenson commented on #111
This is what I have so far:

[code]

This does a few things:

1. It fixes the PNG issue.
2. It separates out temporary vs. permanent libs, with the former being cleaned up automatically after installation.
3. It adds caching at the right steps; PM2 and permanent packages will be added before any `package*.json` changes are detected, so those steps should be skipped on subsequent builds.
4. It redu

[2017-10-26 11:17] arsanjea commented on #111
Thank you Lee!

Sincerely,
Jean-Marc Arsan

C +1 (310) 435-9983

[2017-10-26 20:59] ralexandr commented on #111
@leebenson Sorry, I should dig deeper) Thank you for quick response and fast-fix without need to wait for new reactql release! 👍

[2017-10-27 07:22] tzarger commented on #110
@leebenson This is great news for TS users. Do you have an ETA for v3.0 Kit?

[2017-10-27 08:24] leebenson commented on #110
@tzarger - I'll be starting on the conversion somewhere around mid-Nov. Need to get a couple of local project deadlines out the way, then I'm on it. It's high priority on my to-do, so this will be the next major feature tackled.

[2017-10-29 08:02] leebenson commented on #80
@jbaxleyiii - what's the recommended approach for a 2.0 equivalent of https://github.com/af/apollo-local-query?

We currently use this for SSR, to avoid the HTTP hop when React rendering and GraphQL are part of the same local node.

It seems that it should be fairly trivial to make work for 2.0, but if there are any ready-made packages or code examples floating about, that would help us get ReactQ

[2017-10-29 17:42] juliocanares opened #113 "Why do you use generators instead of simple for?"
Hi @leebenson is this just for fancy code or does it have some implication in the webpack config?

[code]

[2017-10-31 01:05] arsanjea opened #114 "Docker container fails with node:alpine when calling bcrypt"
Known node:alpine bug on Google App Engine - I get a segmentation fault with a node server restart after calling:
`bcrypt.hash("abc@abc.com", 10)`

Adding the following towards the end of Dockerfile fixes the issue (requires ephemeral packages to be kept until the following operation is completed).
`RUN npm rebuild bcrypt --build-from-source`

[2017-10-31 02:01] kane-c commented on #114
The Dockerfile is only a starting point. You will need to modify it for your own app's dependencies, especially if they require compilation.

[2017-10-31 02:52] kane-c commented on #114
What if you modify the Dockerfile like this?

[code]

See also: https://github.com/kelektiv/node.bcrypt.js/issues/528#issuecomment-329975006

[2017-10-31 13:50] leebenson commented on #114
You can also use the general `npm rebuild --build-from-source` which should re-build _every_ binary, in case you run into this error with third-party packages.

I'll go ahead and close this since this doesn't directly impact a fresh ReactQL build, and is dependent on what is added to the project later.

[2017-10-31 13:50] #114 closed

[2017-10-31 13:52] leebenson commented on #113
A generator was just a convenience for yielding an 'inner' value without requiring caller unwinding. This could just as easily been done with `.map` instead. I probably did it this way because I was playing with generators that day - no idea.

[2017-10-31 13:52] #113 closed

[2017-10-31 15:30] arsanjea commented on #114
Per the other issue, that's what I ended up doing.

*-------------------------------------*
*Jean-Marc Arsan*
Founder & CTO @ MoneyGoat <https://www.goat.money/>
79 Madison Avenue, Suite 55
<https://maps.google.com/?q=79+Madison+Avenue,+Suite+55New+York,+NY,+10016&entry=gmail&source=g>
New York, NY, 10016
<https://maps.google.com/?q=79+Madison+Avenue,+Suite+55New+York,+NY,+10016&entry=gmail&source

[2017-10-31 18:24] leebenson opened #115 "Fix `Error: write after end`"
When a HEAD request is sent to the ReactQL server, it's easy to get:

      at writeAfterEnd (_stream_writable.js:236:12)
      at PassThrough.Writable.write (_stream_writable.js:287:5)
      at ReactMarkupReadableStream.ondata (_stream_readable.js:640:20)
      at emitOne (events.js:115:13)
      at ReactMarkupReadableStream.emit (events.js:210:7)
      at ReactMarkupReadableStream.Readable.read

[2017-10-31 18:46] leebenson commented on #115
Until this is added to the next version, this can be fixed with the following `kit/entry/server.js` file:

[code]

[2017-11-04 21:13] flopes89 opened #116 "Polyfills"
First off: Awesome project, I'm really loving it. However, as I played around with it and opened it in IE11, it didn't work, so I dug around a bit, and found that despite the README says

no actual (in my mind) polyfills were being used. When I think about polyfills, I would expect to find a `babel-polyfill` for things like `Object.assign` (that are used in this kit) somewhere.

Am I missing somet

[2017-11-04 21:16] klarstrup commented on #116
I too noticed this was not enabled by default, gotta add `useBuiltIns: "usage"` to babel-preset-env settings. Maybe a PR is in order.

[2017-11-04 21:34] leebenson commented on #116
TBH, ReactQL could do with more testing in older browsers. Would certainly accept PRs.

[2017-11-05 00:50] klarstrup commented on #116
An overhaul of the babel deps and config might be due once Babel 7 comes out one of these days, too.

[2017-11-06 10:33] timLoewel commented on #80
If redux is removed, what is the substitute for the side effect libraries like redux-sagas or redux-epics? Many of their use cases (data fetching..) would be replaced. But there is still the need to have some side effects that tie into the store (e.g. wait for camera to take photo -> process photo -> store in database). How does this work with apollo 2.0?

[2017-11-07 15:10] mergebandit commented on #80
At some point, jbaxleyiii will ship [apollo-link-state](https://www.npmjs.com/package/apollo-link-state), and an `apollo-link-rest` was demo'd at graphql-summit in SF end of October. You'll be able to "stitch" together client-side schemas using composed links, which will allow you to use graphql as the single source of truth for all data - while still exposing the ability to drop redux in as your

[2017-11-08 06:33] webexpert5 opened #117 "Initial State for server side rendering"
Hi,
Could you please tell me how i can set the initial state on server.

This is my use case:

I have two separate home pages for authenticated and non authenticated user.

After logging in, I am storing the jwt with user details in localstorage as well as in cookie.

Now when I am on browser (port 8080), if i hit refresh everything works correctly, i.e the correct homepage is loaded. For this I a

[2017-11-10 06:28] garyyeh opened #118 "bodyParser of kit"
thank you for open source reactql.
i found a bug about bodyParser.
when clone the kit by reactql cli, bodyParser middleware is not work.
but if change the code in server.js.
use bodyParser middleware after instance Koa.
bodyParser is work.

`const app = new Koa()
  // Adds CORS config
  .use(koaCors(config.corsOptions))

  // Error wrapper.  If an error manages to slip through the middleware
  //

[2017-11-10 08:24] flopes89 commented on #116
I opened a PR for this, #119 - further discussion there I guess?

[2017-11-11 16:30] fqlx opened #120 "Is it possible to deploy static sites as docker containers?"
I see we can deploy static + server as a container, but what if I only want to deploy static files?

Great project by the way!

[2017-11-11 16:34] leebenson commented on #120
Sure. But you'll need a web server to actually serve up the files-- Nginx, Apache, etc. Setting that up is beyond the scope of ReactQL, unless you use the built-in web server that's designed to serve React requests. Try stackoverflow.com for help.

[2017-11-11 16:34] #120 closed

[2017-11-11 19:09] fqlx commented on #120
Thanks Lee!

[2017-11-12 18:15] klarstrup opened #121 "SSR rehydration breaks when certain characters are present."
(Probably the title could be better)

Steps to reproduce:
1. Check out a fresh kit & `npm install`
2. Change ```config.addReducer('counter', counterReducer, { count: 0 });``` in app.js to ```config.addReducer('counter', counterReducer, { count: 0, bogus: ` ` });```(there is a U+2028 character in the bogus key's string value)
3. `npm run start`
4. Navigate to `localhost:8081`
5. Observe failure to

[2017-11-13 14:43] bensventures opened #123 "Frontend trying to query localhost in production"
I've had a look at the docs and past issues but can't find anything clear.

I have deployed an app on a production server, inside a Docker container (using Dockerfile provided, thanks!). I have setup Nginx as the SSL termination, proxying to the container. If I load a page in a browser with `https://www.myapp.com` everything loads fine. But when the frontend tries to make a request to the GraphQL

[2017-11-13 15:42] klarstrup commented on #123
You want to make sure that the `BROWSER_HOST` environment variable is set as ie. `www.myapp.com`

[2017-11-14 09:41] bensventures commented on #123
I have tried adding it to the `Dockerfile` like so:

[code]

But that does not change the uri where the Apollo client tries to connect. I've also tried hardcoding it in the `browser_prod` webpack config or defining it when running the docker container unsuccessfully.

Right now I've hardcoded the `getServerURL` in `lib/env` to return the uri I need, and that seems to work, but it's obviously not i

[2017-11-15 14:24] tsdexter opened #124 "Any plans to added ConnectedRouter?"
@leebenson are there any plans to add `ConnectedRouter` from `react-router-redux` - I have to make quite a few changes in the kit files to get it working.

I've been using it so I can dispatch routing actions like `dispatch(push('/new-route'))` - is there a different way to do this using the `BrowserRouter` included in the kit that I'm unaware of.

[2017-11-16 08:01] webexpert5 commented on #123
Yes, for production mode, the kit uses HOST variable (not Browser_HOST)

[2017-11-16 08:36] noeljackson opened #125 "app.js config / middleware does not work in development mode"
Conditional SERVER specified routes and middleware from custom `config` from app.js does not work in development mode.

For example, the `/test/` route in a fresh `reactql` app, only works if the app is started with `npm run start` not `npm run build && npm run server`.

`/test` on a dev server just navigates to /test
`/test` on a production server renders `/test` with a custom message.

Any idea

[2017-11-16 12:08] bensventures commented on #123
I've tried also to specify the `HOST` variable to be the domain of the app but I'm guessing in the context of the container + nginx it does not make sense.

Specifying `HOST` would only work if you are using the Koa server in SSL mode. But as per the comments in the code and is more appropriate to use Nginx for that.

With Nginx as the SSL termination you proxy all request to an internal connectio

[2017-11-16 12:37] leebenson commented on #125
@noeljackson - it should be working on port `:8081` in development... is that not the case?

[2017-11-16 12:56] bensventures commented on #123
Awesome, great news. Happy to help testing things if needed. And thanks for the hard work 💪

[2017-11-16 12:56] #123 closed

[2017-11-16 14:12] nate0001 commented on #110
From what I've seen, a lot of the React 16 and Apollo 2.0 types are severely broken right now.

[2017-11-16 14:53] leebenson commented on #110
@nate0001 - could you elaborate?

[2017-11-16 16:40] nate0001 commented on #110
https://github.com/apollographql/react-apollo/issues?utf8=%E2%9C%93&q=is%3Aissue%20is%3Aopen%20typescript for example

[2017-11-16 16:47] leebenson commented on #110
I guess I've got that to look forward to as I start converting...

[2017-11-17 00:56] noeljackson commented on #125
True, the routes work on `:8081`, but you run into issues on the SSR where any access to window in your templates results in `window is not defined` and then the page doesn't load. I realize you can use if(SERVER) in templates, but this results in some pretty strange conditional statements.

Any way we could implement koa routes and middleware and have them accessible during development? I am stum

[2017-11-17 11:27] leebenson commented on #125
If I understand what you're asking for - that's unfortunately not possible.

Koa is a Node.js-only library that uses the built-in `http` package to listen on a TCP port, and respond to requests. There's nothing equivalent that exists in the browser, so it wouldn't be possible to simply write Koa middleware and expect that it'd work in on the client-side. In the same way you wouldn't be able to use

[2017-11-17 11:27] #125 closed

[2017-11-21 05:53] nwicakson opened #126 "window is not defined"
I want to check if i can deploy my work.
https://github.com/nwicakson/informatics-reactql

The localhost:8080 looks okay. But when i run npm run build-run and then visit localhost:4000 at my computer, I got error message "window is not defined".
Can I check it like that? *first time to deploy

I have updated reactql from 2.8.5 to 2.10.0, but still got this error.
Am I doing something wrong in my c

[2017-11-21 07:23] gihrig commented on #126
`run npm run build-run` and then visit `localhost:4000`

@nwicakson that is correct, works fine for me
ReactQL 4.10.0 (fresh install)
Mac OS 10.11.6

I was unable to run your project without starter data. If you would like to upload a minimal data set for testing, I will take it for a spin to see if I can spot anything.

Otherwise, I would suggest rolling back to earlier commits to see if you can

[2017-11-21 08:50] webexpert5 commented on #126
Reactql provides both browser side and server side rendering.

localhost:8080 is Browser rendered. That means all the files are loaded first and then rendered. By that time window variable is available, because you are in browser.

But when you build and run, the app is server rendered on the initial load and later the browser kick in.
So during the initial load, the window variable is not availab

[2017-11-21 09:41] nwicakson commented on #126
@gihrig Thank you, it turns out the explanation from @webexpert5 was right.
It's because:
- I didn't check if this is SERVER or not
before `const shareUrl = window.location.pathname;`
after `const shareUrl = !SERVER ? window.location.pathname : null;`
and
I called window at react-helmet
before `<meta property="og:url" content={window.location.pathname} />`

[2017-11-21 21:06] rwoody commented on #109
Is there any documentation about using custom `process.env` variables on the server side? I've just realized that the Webpack setup inside kit was clobbering my environment variables in `.env` when trying to load through [motdotla/dotenv](https://github.com/motdotla/dotenv).

[2017-11-22 09:51] leebenson commented on #109
env vars will be totally flexible in kit v3.0. There won't be any major changes to the current branch, because it'll wind up being Typescript in 3.0 anyway. Hold tight - hoping to release before the month's out.

[2017-11-28 14:01] rwoody commented on #109
[mrsteele/dotenv-webpack](https://github.com/mrsteele/dotenv-webpack) seems like a popular choice for this problem. It's a Webpack plugin that can bundle only `process.env` values used in the source code - server side or client.

[2017-11-28 18:06] thm-design commented on #117
Check out this line in app.js. This seems to be where you can manipulate store state on the server.
https://github.com/reactql/kit/blob/master/src/app.js#L198

[2017-11-28 18:22] klarstrup commented on #117
You can handle this in app.js by reading the cookie in a custom Middleware and dispatching the relevant redux action

[2017-11-29 00:22] thm-design commented on #117
There is also this in the docs: https://reactql.org/docs/state/server  what is better?

[2017-11-29 01:37] YoniH commented on #109
What can I do now if I want to pass an env var from Heroku for example, and use it from my client code?

I tried changing my build script in package.json to:
`"build": "cross-env NODE_ENV=production WEBPACK_CONFIG=browser_prod,server_prod MYVAR=$MYVAR webpack --colors"`
(added MYVAR=$MYVAR)

...hoping that when the build script runs on Heroku, Webpack will replace
process.env.MYVAR with the value

[2017-11-29 03:33] rwoody commented on #109
No, env vars added there won’t do anything. You’ll need to change the kit folder’s source code so they get included in the Webpack build for the server until the next version.

On Tue, Nov 28, 2017 at 7:37 PM, YoniH <notifications@github.com> wrote:
What can I do now if I want to pass an env var from Heroku for example, and use it from my client code?

I tried changing my build script in package.j

[2017-12-07 20:31] kgregory commented on #27
This is a note to anyone who ends up here in the future:

If you're running into this issue while implementing code-splitting, you may need to install [babel-plugin-syntax-dynamic-import](https://babeljs.io/docs/plugins/syntax-dynamic-import/) take a look at [this response](https://babeljs.io/docs/plugins/syntax-dynamic-import/) from @feross:

[2017-12-09 07:08] nwicakson opened #127 "Can't Get Data from GraphQL when Changing to Other Page"
I already deployed my project using reactql at http://beta.if.its.ac.id.
The problem is it can't get the data from graphql when changing to other page. But when I reload the other page, it will get the data.

Reproduce:
1. Codes: https://github.com/nwicakson/informatics-reactql
2. Install as my explanations there
3. npm start
4. Access with other device in [your network]:8081
5. The problem will o

[2017-12-09 07:25] #126 closed

[2017-12-09 12:23] nwicakson commented on #127
![image](https://user-images.githubusercontent.com/13409319/33795545-3e221f12-dd16-11e7-82a5-cc50941eb4bd.png)
It seems like it's because the graphql url is wrong. How can I change that url?

[2017-12-09 12:48] leebenson commented on #127
[code]

[2017-12-09 12:48] #127 closed

[2017-12-09 23:04] loelsonk opened #128 "Adding DirectoryNamedWebpackPlugin"
Hi @leebenson,

are there any plans to integrate [DirectoryNamedWebpackPlugin](https://github.com/shaketbaby/directory-named-webpack-plugin) into reactQL?

[Configuration](https://webpack.js.org/configuration/resolve/#resolve-plugins) should be rather simple, but I am having problems. Webpack compiles with errors.

Could you give me a hint how to get it to work?

`kit/webpack/common.js`
[code]
`lo

[2017-12-10 04:16] nwicakson commented on #127
Wait, I used the internal GraphQL server beta.if.its.ac.id/graphql. How can I get the data from it?

[2017-12-10 07:36] nwicakson commented on #127
#92 Actually, it's the same problem as this issue. Thank you for your time

[2017-12-12 19:11] haxxorsid opened #129 "Using window object gives error at 8081 but no error at 8080"
I am using `window.location.pathname` in my main/index.js to setstate. It throws this error:
**Some kind of error. Check your source code.**

for port 8081. But no error on 8080. I am using window object in my main, because if I use`  Route`  to get pathname through props and set state of main from the rendered component, it re-renders my component again. So it basically renders it twice, instead

[2017-12-12 19:59] haxxorsid opened #130 "Unable to generate build & Expected server html error on server side dev"
What's the solution for:
**Expected server HTML to contain a matching div in div.**

I fixed this for browser side by reading solution mentioned in reactql cli's Issue No. 86. That is:
[code]
But I'm receiving this error in server side too, when I access some page other than "/" directly and also css somewhat gets disrupt. For few miliseconds it shows homepage and later it turns up to the page whi

[2017-12-12 20:19] leebenson commented on #130
Run `npm rebuild`

[2017-12-12 20:19] #130 closed

[2017-12-13 14:25] haxxorsid opened #131 "use makeExecutableSchema instead of GraphQLSchema"
I want to use graphql-tools to define schema like this in src/graphql/schema.js:
[code]
Refer: [graphql-tools](https://www.apollographql.com/docs/graphql-tools/generate-schema.html)
Instead of the default one which uses new GraphQLSchema() to declare schemas.

But in dev/browser.js & app.js, this is performed:
`config.setGraphQLSchema(require('src/graphql/schema').default);`

So how to integrate o

[2017-12-13 14:27] klarstrup commented on #131
Just write exactly what you wrote in `/graphql/schema`

On Wed, Dec 13, 2017, 15:25 Siddhesh Patil <notifications@github.com> wrote:

[2017-12-13 14:28] haxxorsid commented on #131
@klarstrup I didn't understood. What do you mean?

[2017-12-13 14:29] klarstrup commented on #131
You're already doing what you need to, what's not working for you?

On Wed, Dec 13, 2017, 15:28 Siddhesh Patil <notifications@github.com> wrote:

[2017-12-13 14:32] haxxorsid commented on #131
I am receiving this error:
[code]

[2017-12-13 14:36] leebenson commented on #131
It looks like you're missing a schema definition. From [this example](https://github.com/apollographql/graphql-tools#example):

[code]

[2017-12-13 14:36] #131 closed

[2017-12-18 14:57] biels opened #133 "Testing with Jest does not work (es6 modules not transpiling for node)"
Running npm test with some .test.js fiels under /src does not work out of the box.
Well, in fact it does until you try to import a file using es6 modules. It complains about "SyntaxError: Unexpected token import". I think babel-jest has to be configured properly.
Tested it under node v9.3.0.

As additional information that might or might not be useful: Maybe it is not finding the provided configur

[2017-12-19 12:27] biels commented on #133
I discovered that if tou comment out the contents of the jest.config.js it works (at least under node 9.3.0). However, then monkeypatched functions like .merge() which is used at reducers, are not avaliable when testing. This needs a fix as soon as possible, because this means there is currently no way to test reactql reducers!

[2017-12-20 11:03] haxxorsid opened #134 "Add media folder in layout"
I want to create a separate media folder where users will upload images and that will be utilized to show stuff like article's content. Where am I supposed to make changes?

[2017-12-20 11:44] leebenson commented on #134
Anywhere. You can import images like:

[code]

... and it'll automatically be minified, compressed and moved to `dist/public`

[2017-12-20 11:44] #134 closed

[2017-12-20 12:23] haxxorsid commented on #134
@leebenson Where can I add a custom nodejs route for both prod and dev ? Is it only `kit/lib/server_dev.js` & `server_prod.js`?

[2017-12-20 13:28] haxxorsid opened #135 "Module parse failed: Unexpected character '�' (1:2) You may need an appropriate loader...."
I added sharp package. But I am not able to utilize it:

[code]

What's the possible fix for this? I googled and got 1-2 answers for this, but I'm not aware of where and how correct changes should be made in reactql's existing webpack config.

[2017-12-20 14:29] leebenson commented on #135
You'll need to use this solely on the server, since it's a Node binary. Looking at your stack trace, it seems that you're trying to use it in `src/app.js`, which is loaded by `kit/entry/browser`.

To use it in a 'safe' server-only block, wrap it in:

[code]

[2017-12-20 20:07] haxxorsid commented on #135
@leebenson Ok thanks. How can I fix the linting issue:

I am using promise for implementing sharp. Should I add a polyfill?

[2017-12-20 21:10] leebenson commented on #135
I'm not familiar with Sharp, and can't offer any specific advice on implementing non-ReactQL parts of your stack. Questions are better suited for [stackoverflow.com](https://stackoverflow.com) - this issue board is for reporting bugs / discussing features of ReactQL specifically.

[2017-12-20 21:10] #135 closed

[2017-12-22 08:28] reduxdj opened #136 "unable to debug in safari with kit 2.92"
SyntaxError: Unexpected keyword 'const'. Const declarations are not supported in strict mode.

[2017-12-23 09:38] fhollste commented on #80
[Here's a good article about how and why to make the shift from Redux to Apollo 2.0
](https://dev-blog.apollodata.com/the-future-of-state-management-dd410864cae2)

Any updates on a ReactQL kit with Apollo 2.0 and/or migration docs?

[2017-12-23 11:51] leebenson commented on #80
Thanks for sharing, @fhollste.

ReactQL is being split into two projects:

1. **Launch.js**, a general-purpose Webpack bundler, with pluggable configs that can be added to it.

2. **A ReactQL plugin** for Launch.js, with separate plugins for CSS and other, more 'opinionated' pieces of ReactQL.

Both are written in Typescript, but usable as vanilla JS.

I'm [making headway](https://github.com/launc

[2017-12-23 11:58] leebenson commented on #80
FWIW, the new syntax will look something like this:

[code]

Then in your `main.(ts|js)` entry point, you'd so something like this:

[code]

[2017-12-23 12:10] leebenson commented on #80
Finally, since everything can be added as an NPM package, the CLI will be retired, and upgrading will be done with standard `npm i` tooling.

It'll move ReactQL from being a starter kit, to a very pluggable  / customisation framework.

[2017-12-27 01:44] wmhafiz commented on #80
Looks great, can't wait to try it out !

[2017-12-27 14:53] leebenson commented on #124
Apologies for the slow response to this thread. In kit 3.0, it will be possible to add arbitrarily HOCs to wrap the main component, so this should make it pretty simple to augment the existing config without digging too deep down into config files.

Take a look at [this comment](https://github.com/reactql/kit/issues/80#issuecomment-353722198) to see the general approach to kit 3.0.

With that said

[2017-12-27 14:53] #124 closed

[2017-12-27 14:55] leebenson commented on #117
Follow the example in https://reactql.org/docs/state/server if you want to do a basic Redux dispatch; follow @klarstrup's cookie-driven approach if you need some way to persist state, and then read that same cookie to determine what needs dispatching on the server.

[2017-12-27 14:55] #117 closed

[2017-12-27 20:58] NotJustClarkKent opened #137 "Only create store on initial HTML document request (SSR)"
Hi, is anyone aware of a way to only create a store once on the server so expensive operations like getting the initial state from an async source only fire for the initial request (HTML document)? I've tried using Koa middleware hooks provided in `config.js` and [`ctx.is('html')`](https://github.com/koajs/koa/blob/master/docs/api/request.md#requestistypes) to no avail.

Right now I notice a state

[2017-12-28 11:39] leebenson commented on #137
The issue is that [staticMiddleware()](https://github.com/reactql/kit/blob/master/kit/entry/server.js#L131-L149) is being attached _after_ regular middleware, so whatever you have in your previous middleware functions will always run first.

There are pros and cons to this. The pros are that you get lower-level control of _every_ request - even that which is ultimately served statically. So if you

[2017-12-28 18:10] NotJustClarkKent commented on #137
Makes sense, thank you. I will have a look at 3.0 but will deal with the extra calls for now in 2.0.
As usual, thanks for the prompt reply Lee!

[2017-12-28 18:10] #137 closed

[2018-01-04 05:23] tzarger commented on #110
@leebenson How's this coming along? Any updated info v3 coming up?

[2018-01-08 00:16] leebenson commented on #110
Getting close to releasing something. We have a newborn in the house, so my schedule has been somewhat skewed/unpredictable lately. I'm hoping to carve out a bit of time in the coming week to get a working demo committed. Will keep you posted.

[2018-01-08 00:21] tzarger commented on #110
Awesome @leebenson and congrats on the newborn!

[2018-01-08 13:38] dougajmcdonald commented on #59
@leebenson the link at the bottom of this post has moved to here I think.

https://github.com/reactql/example-auth

[2018-01-08 13:42] dougajmcdonald commented on #58
https://github.com/reactql/example-auth ;-)

[2018-01-09 13:44] myovchev opened #138 "Webpack dev server dependency breaks reactql in dev mode"
There is a (very) recent issue with webpack-dev-server (versions after 2.9.7) which results in non-working browser webpack server after updating dependencies (both yarn and npm).

**Temporary solution:** downgrade to webpack-dev-server v2.9.7
`npm install --save-dev webpack-dev-server@2.9.7`

or

`yarn add -D webpack-dev-server@2.9.7`

**Long-term solution:** Force webpack version to 2.CURRENT_ISS

[2018-01-09 16:01] dougajmcdonald commented on #133
@biels I'm interesting the answer to this too, posted the same problem in the cli here: https://github.com/reactql/cli/issues/96

[2018-01-09 16:18] dougajmcdonald commented on #133
I found the problem, it's a simple one, the regex is wrong!

the `(x)` isn't an optional x which I presume is what it's meant to be.

in your `jest.config.js` change the `transform` bit from:

[code]

to

[code]

The `?` matches 0-1 preceding characters so is the right one to use here.

[2018-01-09 16:22] dougajmcdonald commented on #133
As a side note, if you wanted to enable coverage the `collectCoverageFrom` array in `jest.config.js` takes a glob, so to match `.js` and `.jsx` you'd need the following:

[code]

[2018-01-09 16:30] dougajmcdonald commented on #133
Lol, just noticed there is already a PR for this: https://github.com/reactql/kit/pull/112

I submitted another, literally the same! hope this gets merged soon! *ehem* @leebenson ;-)

[2018-01-09 22:31] leebenson commented on #133
I appreciate your activity today on the ReactQL issue board, @dougajmcdonald.

FYI, I'm currently working on a major new ReactQL release that will bring about some significant changes to how the projects are laid out. See [here](https://github.com/reactql/kit/issues/80#issuecomment-353722198) for more info.

Since the next release will fundamentally change the way ReactQL works (hint: everything i

[2018-01-09 22:32] #133 closed

[2018-01-09 22:40] dougajmcdonald commented on #133
Hi Lee, NPS and thanks for the info. This really does help as I only found the reactql project last week and my plan is to migrate and existing react / redux / saga project I have. The aim is that I want to make use of graphql on the backend so was testing CI, docker, testing and code coverage to see if it suits.
Sounds like I should hold fire a week, so you've saved me s bunch of effort! Ta! Will

[2018-01-15 19:01] spicerm opened #141 "window is not defined in SSR"
Just importing aws-appsync causes this error in SSR, one of the module it depends on uses window somewhere which causes this error.

[2018-01-15 22:36] leebenson commented on #141
This is a common Node problem; it's not an issue with ReactQL, per se. There's simply no concept of `window` on the server.

To work around it: https://reactql.org/docs/ssr/environment#the-server-constant

[2018-01-15 22:36] #141 closed

[2018-01-24 07:22] filtudo opened #142 "set initial state from localstorage"
Hello,

I am struggling a bit in re-populating a store from localStorage(we use micro services and the data is passed from one app to another in localStorage ).

I looked at the examples here : https://github.com/reactql/example-auth but in my case unfortunately i can't use cookies.

- I tried to call an action on componentWillMount() in the main component
- I tried to change the initial state bas

[2018-01-24 12:30] akshitggrwl commented on #142
Your third approach should work just fine for browser side rendering.

You can dispatch the action after creating the store in entry/browser.js
For example:
`const store = createNewStore(client);`
`store.dispatch(setCurrentUser(user));`

[2018-01-24 12:49] filtudo commented on #142
@akshitggrwl on browser it actually sets the right state, the problem appears on build-run where i get an warning saying that one of the props that were in localStorage is different on client then server:  Warning: Prop `aria-selected` did not match. Server: "true" Client: "false" and the rendered output looks a bit messed up(the server and client overlaps).

So i guess the problem is https://reac

[2018-01-24 12:56] akshitggrwl commented on #142
Either your server state is correct or browser state. Either way you need to make sure that your initial states are same on both server and browser.

[2018-01-24 20:14] biels commented on #80
I'm currently using the client side of reactql 4.9.5 with my own graphql server. I would really appreciate the shift to Apollo Client 2.0 and even more if it comes in a modular way. The idea of going WebSockets by default is also nice, and with apollo link it will not be hard to also provide http as a fallback.
Looking forward to it!

[2018-01-28 08:03] webberwang commented on #90
@jimmyjamieson Inside the if (SERVER) block right?

[2018-01-28 23:50] webberwang commented on #111
I'm also getting the issue after

inside styles.global.css
`@import '~semantic-ui-css/semantic.css';`

[2018-01-29 21:48] webberwang commented on #90
@jimmyjamieson I believe you still need the line `enableGraphQLServer`. It wasn't working without that line for me when I'm using an external GraphQL service like GraphCMS

[2018-01-30 00:12] TreTuna commented on #80
I'm honestly stoked to see where this goes right now. I am in the camp of modularity and ripping Redux out with Apollo 2.0. I have a project right now where this repo without Redux and all the less/sass stuff (we're going to be using styled-components) would have been my prime setup. Any word on the progress with that? Looked at the repo and looks like progress stopped a little over a month ago.

[2018-01-30 02:16] mnpenner commented on #80
@TreTuna After having looked into it some more, local state with Apollo 2 actually looks [quite tedious](https://youtu.be/2RvRcnD8wHY). I especially don't like having to markup the queries with `@client` everywhere. Not sure why local queries can't just be intercepted. The schema should know what goes where.

Also, [apollo-link-state](https://github.com/apollographql/apollo-link-state) still isn't

[2018-01-31 07:54] tsdexter opened #143 "implement different graphql endpoint server side based on hostname"
@leebenson I may be missing something obvious but how would you go about using a different graphql endpoint depending on the hostname on the server side so that you don't have all your endpoints in the client code?

For example:

[code]
etc...

[2018-01-31 13:53] tsdexter opened #144 "building on google compute engine failing"
I'm trying to `sudo npm install` on a google compute engine running `Debian 9 (stretch)` image with Node 8.9.4 and I just keep getting:

[code]

Using `nvm exec sudo npm install` doesn't work either as suggested here: https://github.com/nodejs/node-gyp/issues/454#issuecomment-315691803

Any idea whats going on?

[2018-02-02 11:54] Kamill90 commented on #123
@leebenson @bensventures
I have a similar issue. I hardcoded IP of my host server in env.js and I get an error saying that app is trying to fetch "http://159.89.18.79:4000/159.89.18.79/grapqh" so it concatenates two URI somehow.
Could you share how to hardcode it before building?

[2018-02-02 14:18] bensventures commented on #123
@Kamill90 sure, here is my `kit/kib/env.js` file:

[code]

You'll see the return, commented out, at the top. I uncomment the line before deploying to production. That's all. I haven't upgraded kit to the latest version so I don't know if this has been fixed or not yet.

[2018-02-03 21:00] Kamill90 commented on #123
Thanks. This is it.

[2018-02-14 12:55] Baza58 commented on #110
@leebenson How's the demo coming along?

[2018-02-15 02:29] dmitry opened #145 "Load HMR on the server-side render"
Why there are no hot module replacement loaded on a development web server (server-side rendering) at http://localhost:8081?

I don't see any reason not doing that. In such case port `8080` might be removed at all, so everything could be at the one place.

[2018-02-15 15:56] sntshane opened #146 "chunk-manifest not generating"
i got an error: Error: ENOENT: no such file or directory, open '/home/user/reactql/dist/chunk-manifest.json'
 when i run: npm run build-run
But when i run: npm start, everything is working,
I have rolled back on previous git commit when everything worked perfectly but it still shows the same error, both on localhost and herokuapp.
package.json: "chunk-manifest-webpack-plugin": "git+https://github.

[2018-02-16 01:01] dmitry commented on #146
@sntshane I had similar issue. You have to add at least one chunk in the code using something like that:

[code]

or change this line:
[code]
to
[code]

[2018-02-16 01:04] dmitry commented on #128
@loelsonk how is this can be helpful?

[2018-02-16 01:07] dmitry opened #147 "Not maintained anymore?"
@leebenson are you still using ReactQL in your daily routine or are you going to continue to maintain it in the nearest future?

[2018-02-16 12:13] dmitry commented on #146
I'm just on-boarded and I'm not sure how it was working before. I just can guess it probably was another version of `webpack` or `chunk-manifest-webpack-plugin`.

[2018-02-16 19:28] sntshane commented on #146
That makes sense, thank you again! :+1:

[2018-02-19 11:29] lookagit commented on #78
"start": "npm run server"
"postinstall": "npm run build", === MAGIC

https://help.heroku.com/P1AVPANS/why-is-my-node-js-app-crashing-with-an-r10-error

[2018-02-23 22:49] ronachong commented on #146
dmitry's fix also worked for me. Here's what I replaced

[code]

with in case I want to do some chunking in the future:
[code]

[2018-02-23 23:34] leebenson commented on #147
I'm personally still using ReactQL in production, including on a fairly high-trafficked e-commerce page that's taking live orders.

There are a few outstanding PRs and issues I'd like to get to; it's not been updated in a little while simply because I haven't had a pressing use-case to bump any of the libs, and I've been a [little busy elsewhere](https://github.com/reactql/kit/issues/110#issuecomm

[2018-02-25 00:32] corydeppen commented on #110
@leebenson Would you recommend against trying to migrate a new ReactQL project to TS until you're changes are released, assuming there will be some sort of upgrade path?

Just curious - are you considering using the [Babel preset for TypeScript](https://github.com/babel/babel/tree/master/packages/babel-preset-typescript) so you can continue using babel-loader without needing another loader for TS?

[2018-02-25 07:10] leebenson commented on #110
I'd recommend doing whatever makes sense for your project. If you need TS support today, don't wait for an upgrade- add it, and get coding!

If/when TS support lands, it's likely the whole kit will get an overhaul, including the Webpack config files. It'll likely be some combo of ts-loader and HappyPack.

[2018-02-25 10:55] dmitry commented on #146
@ronachong nice, this should be committed directly to the `kit`.

[2018-02-27 18:27] sujithvellat commented on #45
I followed the similar steps for the semantic-ui-less but I am getting an error.

Added file **styles.global.less** with the import statement
`@import '~semantic-ui-less/semantic.less';`

And then import that file in app.js
`import './styles.global.less';`

I got the following error

Failed to compile.

[code]

How can i get the semantic ui theming work with reactql kit and semantic-ui-less

[2018-03-01 03:34] birdiesanders commented on #147
I'm not sure if my input counts for much, but I've been using your framework as a base for a company management platform, and the way that you have things working now works out pretty damned well. I don't use redux in it as of yet, but the way everything is set up is just fantastic. Absolutely great work gluing it all together. Converting to typescript means I would have to teach everyone a new di

[2018-03-01 03:35] birdiesanders commented on #147
Oh wow! Congrats on the baby! They are freaking amazing.

[2018-03-06 13:07] leebenson commented on #147
Thanks @birdiesanders, appreciate your input and kind words.

I'm working on some Webpack 4 stuff locally, and so far it's going well. The ecosystem around it is slowly building, and many plugins have _next_ versions in alpha/beta that are compatible.

I'm also experimenting with proper async code-splitting -- e.g. loading the relevant chunks in the SSR for JS and CSS, rather than rendering HTML a

[2018-03-11 20:25] iamclaytonray commented on #147
@leebenson - Do you want some help maintaining? I'm more than happy to contribute. I personally just found out about this lib so not sure of all the inner-workings but I can adapt. Let me know!

[2018-03-12 01:15] leebenson commented on #147
@iamclaytonray - thanks for the offer, appreciated. I'm actually now pretty close to releasing a new version of ReactQL, which will bring about some significant changes. I'd suggest waiting for that to land first, so you'll be able to assess whether you'd like to contribute to the core, or use at as a base for a forked version.

I'll announce details in this issue once it lands.

[2018-03-14 15:40] mkotar opened #148 "Best approach for routing / static build"
Hi,
what is the best, suggested approach for having working routing on static builds?

when you open: http://localhost:5000, navigate to contact and hit refresh I would like to get contact page loaded. Instead of this I get 404 on prod server (where I only serve /public files) and some console errors when running on my local machine.

[2018-03-15 20:47] Brantron commented on #45
@sujithvellat  Did you ever solve that issue? I'm trying to work through the same thing right now

[2018-03-16 16:20] carcus88 opened #149 "Bootstrap 4 SASS error"
Including the latest bootstrap 4.0.0 as a SASS module fails to compile because somewhere in the chain this line breaks.

    $navbar-light-toggler-icon-bg:      str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath stroke='#{$navbar-light-color}' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4

[2018-03-28 10:43] Floridus opened #150 "Server breaks down even though it builds up successfully"
Hello,

I need help, because I do not know what to do next. I have now successfully build and can run the server as well. But since I put the SSL_Port 443, it breaks off immediately after the successful construction again.

This is my build command in `package.json`

`cross-env NODE_ENV=production SSL_PORT=443 WEBPACK_CONFIG=browser_prod,server_prod webpack --colors`

Then i move the dist director

[2018-03-28 11:13] Floridus commented on #150
Okay, it was a mistake of mine. In the webserver nginx configuration just has to add that:

[code]

[2018-03-28 11:13] #150 closed

[2018-03-28 12:11] Floridus commented on #126
Hello,

I have the same problem and have already looked at localhost: 8081. However, nowhere is an info about the error displayed here. So I do not know at all where this mistake is.

In my own code I do not use the window variable but only localStorage. Through the project search, I found only the files "lib/redux.js" and "ssr.js" where the variable window is used. Otherwise many times in the ven

[2018-04-03 08:38] leebenson commented on #147
To update this thread: I've committed the first alpha version of Launch.js, a micro-framework that will become the foundation of ReactQL v3:

https://github.com/launchjs/app

The premise is that it abstracts away Webpack and server configuration, allowing configs to built on top of it. The Koa server is instantiated _before_ Webpack, but then passed _to_ Webpack, allowing a clean separation betwee

[2018-04-03 08:38] leebenson commented on #80
Update on this thread: https://github.com/reactql/kit/issues/147#issuecomment-378173217

[2018-04-03 08:41] leebenson commented on #110
Update on this thread: https://github.com/reactql/kit/issues/147#issuecomment-378173217

[2018-04-03 16:33] mnpenner commented on #147
Thanks for all the hard work @leebenson! Just wanted to say don't feel rushed to push out Apollo 2 if you don't think it's ready for prime-time yet. I know I've been bitten by alphas, betas, and 2.0s plenty of times.

The claims about Webpack 4 being up to 95% faster don't appear to be true either. I've seen zero improvement in my main project, and extract-text-webpack-plugin stopped working. I've

[2018-04-05 22:37] tsdexter commented on #144
Using proper docker without issue now

[2018-04-05 22:37] #144 closed

[2018-04-05 22:50] tsdexter opened #151 "Set graphql endpoint with env variable"
How can I set the graphql endpoint from an env variable so I don’t have to build several versions to run the codebase with several backends:

For example, I’d like to be able to run

[code]

So I can run two instances with different graphql servers without having to build two different `dist`’s

Is a setup like this possible?

[2018-04-06 23:54] leebenson commented on #147
Thanks @mnpenner, an astute analysis, as always!

I completely agree that tracking edge releases just for the sake of 'keeping up', is pretty pointless. I don't want to add to JS fatigue unnecessarily - the API changes between major versions of dependent libraries often mean un/relearning concepts, so the gain has to be worth dragging users along for the ride. At the same time, I'm taking a fundam

[2018-04-16 11:08] leebenson commented on #80
A taste of what's to come a la [Launch.js](https://github.com/launchjs/app) presets:

https://github.com/launchjs/styles

I'm currently working on the new ReactQL preset (today, actually), which will make including it in your project as simple as it is to now include styles.

This approach also means we can drop a lot of the assumptions that come with the current version of ReactQL around styling,

[2018-04-17 21:37] leebenson commented on #147
FWIW, I've released v1.0 of the CSS plugin for Launch.js at https://github.com/launchjs/styles, if you're curious how adding plugins (like ReactQL itself) will work.

[This is pertinent source](https://github.com/launchjs/styles/blob/master/src/styles.ts#L108-L225) that illustrates how merging Webpack configs will work (in this case, Mini-CSS-Extract-Plugin) on the client/server.

It's still not q

[2018-04-26 17:57] aoighost commented on #147
I'm getting ready to start a new app based on this. Should I wait, if so, how long do you estimate until the new starter pack is up?

[2018-04-26 17:58] aoighost commented on #149
I'm getting this issue as well. which file did you edit and where?

[2018-04-26 20:16] leebenson commented on #147
@aoighost:

Don't wait for me. Evaluate if ReactQL is good enough to get you moving, or roll your own requirements. As someone that has put too many projects on hold waiting for a big, shiny new library to land... trust me on this. Use the tools you have today.

[2018-05-07 15:14] ar1a commented on #131
I'm currently getting this, with this code:
[code]

[2018-05-08 00:41] CaptainChemist commented on #147
@aoighost Maybe open up a new issue? I use reactql for several projects and I think it works great. Just make sure you are using a new version of npm/node or you get build errors. I use nvm to set node to 8.4 and that works just fine, but anything new enough should be good.

[2018-05-09 21:13] ghost opened #152 "failed to compile an empty initial trial app"
Failed to compile.

(undefined) ./node_modules/css-loader?{"minimize":false,"localIdentName":"[local]-[hash:base64]","importLoaders":1,"sourceMap":true,"modules":true}!./node_modules/postcss-loader/lib?{"sourceMap":true}!./node_modules/resolve-url-loader!./node_modules/sass-loader/lib/loader.js?{"sourceMap":true}!./src/components/stats.scss
Module build failed: Error: ENOENT: no such file or direc

[2018-05-09 21:20] #152 closed, assigned to nobody

[2018-05-09 21:35] xzhu70 commented on #152
Thank you for your quick response!  n was to address another issue.  because the latest node is at 10, it went into some error complaining 10 is not supported.  which node version are you using?

[2018-05-09 21:38] xzhu70 commented on #152
Yes, after "npm rebuild", it works now.  Thanks a lot!
I am new.  Thank you for helping on the basics!

[2018-05-09 21:49] leebenson commented on #152
no probs!

[2018-05-16 14:07] carcus88 commented on #149
@aoighost I edited _variables.scss where the "$navbar-light-toggler-icon-bg:" variable is defined around line 647

[2018-05-21 09:02] clodal commented on #38
Updated link to auth example mentioned is now here: https://github.com/reactql/example-auth

[2018-05-28 12:22] MassivDash opened #153 "Proper SEO / Helmet Implementation"
Hello.
I am having hard time passing all needed seo meta tags to the SSR.js component.
So I have a seo component, with all meta info, however it does appear on the "ViewSource" during the initial load , the actual source code gets implemented on the refresh.

On the dynamic pages it does not render the data at all, (obviously because it still fetches the data, while the page is being created). Doe

[2018-05-28 12:49] MassivDash commented on #153
Hello, thanks for quick reply, My seo component looks like this. When using the facebook debugger it shows proper data, after few refresh clicks (2, 3). The seo is  called inside the "Page component" with props (not dynamic for now, just strings), inside a <switch> <Route path="/Page" component="page"></switch>

import React, { Component } from 'react';
import Helmet from 'react-helmet';

    clas

[2018-06-03 20:44] doctorniz opened #154 "Probably a noob question - Linking static files/images"
How do I link to files in my static folder - especially images, I've seen the import example for the favicon.svg, but I need to not import it - the url/relative path is/will be delivered from a database as a string to a react component as a prop.

`<Card image={props.imageURL} />`

How do I edit imageURL to display the correct path. Currently my images are saved in the static>uploads>img folder.

[2018-06-07 04:15] Vino4 commented on #45
this worked for me when importing semantic ui less (not entirely my solution, credits down bellow):
1. Add file styles.global.less with the import statement
`@import '~semantic-ui-less/semantic.less';`

2. Import that file in app.js
`import './styles.global.less';`

3. Create a theme folder in your src and copy node_modules/semantic-ui-less/theme.config.example to it as theme.config
[code]

4. Cre

[2018-06-14 04:31] fe1t opened #155 "where am I supposed to add 'Google Tag Manager' script?"
Hi, I wonder where to paste Google Tag Manager.
I pasted it into Layout.js file like this

[code]

It works in hot-reloading browser but server-side rendering.
The error message in SSR browser is 'Custom error: window is not defined'
That's why It causes problem with my production.

Any suggestions or working around solutions ?

Thanks!

[2018-06-14 07:07] jonoirwinrsa commented on #155
You _can_ add it to` kit/views/ssr.js` but I don't know if this is really the correct place

You would need to use dangerouslySetInnerHTML

[2018-06-18 06:00] #155 closed

[2018-06-18 06:10] jonoirwinrsa commented on #155
@fe1t did you find a nice solution?

[2018-06-18 22:11] hpartidas opened #156 "Package Vulnerabilities"
Hi,

I'm currently thinking about using this package but it is plagued with vulnerabilities.

Is there a plan to update the dependencies to weed out the vulnerabilities?

[2018-06-19 15:24] leebenson commented on #156
From the readme:

I'm taking some time off OSS, and focusing on commercial projects. It's unlikely I'll be making any changes to ReactQL anytime soon, so please know that before basing your next project off of any code you find here.

Open to PRs, but updating all of the packages to the latest versions to resolve vulnerabilities would be a massive can of worms, requiring a _lot_ of changes elsewhe

[2018-06-19 15:24] #156 closed

[2018-07-10 15:49] fe1t commented on #155
@jonoirwinrsa, I placed it inside my Layout component as a react component.

[2018-07-15 15:46] Sburke0708 commented on #16
Try ```["import", { "libraryName": "antd", "style": "css" }]``` instead

[2018-07-29 23:39] impavidum commented on #52
@claym were you able to get this working with Docker? I am currently attempting to deploy my docker image to heroku without success. Any help would be appreciated.

[2018-07-31 21:36] andreshg112 commented on #27
@kgregory, I already did it and I still have the same issue:
![image](https://user-images.githubusercontent.com/15859884/43488513-ab93cf9c-94df-11e8-9ceb-200c09d0d37f.png)

Log file
[code]

[2018-08-02 01:32] reduxdj commented on #130
I love your framework, I wish we would have chosen something different. Unfortunately, we built 4 projects with it, and now it's showing its age, installation issues... build failures, dependency issues. I was excited, but now i think we've shot ourselves in the foot a bit.

[2018-08-02 02:05] reduxdj commented on #130
removing these compressor plugins is the safest course of action for ubuntu. They stopped compiling and don't fall back correctly.

[2018-08-03 14:23] leebenson commented on #154
Apologies for the generic response, but I've released a new [v3.0 kit](https://github.com/leebenson/reactql/releases/tag/3.0.0), which has been re-written from the ground up.

It bumps the ReactQL stack to Webpack 4, React 16.4, Apollo Client 2.0, and adds Styled Components, full SSR (even in development), and has been re-written in Typescript. It's leaner, faster and has been brought completely u

[2018-08-03 14:23] #154 closed

[2018-08-03 14:23] leebenson commented on #153
Apologies for the generic response, but I've released a new [v3.0 kit](https://github.com/leebenson/reactql/releases/tag/3.0.0), which has been re-written from the ground up.

It bumps the ReactQL stack to Webpack 4, React 16.4, Apollo Client 2.0, and adds Styled Components, full SSR (even in development), and has been re-written in Typescript. It's leaner, faster and has been brought completely u

[2018-08-03 14:23] #153 closed

[2018-08-03 14:23] leebenson commented on #151
Apologies for the generic response, but I've released a new [v3.0 kit](https://github.com/leebenson/reactql/releases/tag/3.0.0), which has been re-written from the ground up.

It bumps the ReactQL stack to Webpack 4, React 16.4, Apollo Client 2.0, and adds Styled Components, full SSR (even in development), and has been re-written in Typescript. It's leaner, faster and has been brought completely u

[2018-08-03 14:23] #151 closed

[2018-08-03 14:23] leebenson commented on #149
Apologies for the generic response, but I've released a new [v3.0 kit](https://github.com/leebenson/reactql/releases/tag/3.0.0), which has been re-written from the ground up.

It bumps the ReactQL stack to Webpack 4, React 16.4, Apollo Client 2.0, and adds Styled Components, full SSR (even in development), and has been re-written in Typescript. It's leaner, faster and has been brought completely u

[2018-08-03 14:23] #149 closed

[2018-08-03 14:23] leebenson commented on #148
Apologies for the generic response, but I've released a new [v3.0 kit](https://github.com/leebenson/reactql/releases/tag/3.0.0), which has been re-written from the ground up.

It bumps the ReactQL stack to Webpack 4, React 16.4, Apollo Client 2.0, and adds Styled Components, full SSR (even in development), and has been re-written in Typescript. It's leaner, faster and has been brought completely u

[2018-08-03 14:23] #148 closed

[2018-08-03 14:24] leebenson commented on #147
We're back! https://github.com/leebenson/reactql

[2018-08-03 14:24] #147 closed

[2018-08-03 14:25] leebenson commented on #146
Apologies for the generic response, but I've released a new [v3.0 kit](https://github.com/leebenson/reactql/releases/tag/3.0.0), which has been re-written from the ground up.

It bumps the ReactQL stack to Webpack 4, React 16.4, Apollo Client 2.0, and adds Styled Components, full SSR (even in development), and has been re-written in Typescript. It's leaner, faster and has been brought completely u

[2018-08-03 14:25] #146 closed

[2018-08-03 14:26] leebenson commented on #145
HMR via SSR was added in 3.0.0 today, btw - https://github.com/leebenson/reactql/releases/tag/3.0.0

[2018-08-03 14:26] #145 closed

[2018-08-03 14:26] leebenson commented on #156
Ignore what I said. [I did the work.](https://github.com/leebenson/reactql)

[2018-08-03 14:27] leebenson commented on #143
Apologies for the generic response, but I've released a new [v3.0 kit](https://github.com/leebenson/reactql/releases/tag/3.0.0), which has been re-written from the ground up.

It bumps the ReactQL stack to Webpack 4, React 16.4, Apollo Client 2.0, and adds Styled Components, full SSR (even in development), and has been re-written in Typescript. It's leaner, faster and has been brought completely u

[2018-08-03 14:27] #143 closed

[2018-08-03 14:27] leebenson commented on #142
Apologies for the generic response, but I've released a new [v3.0 kit](https://github.com/leebenson/reactql/releases/tag/3.0.0), which has been re-written from the ground up.

It bumps the ReactQL stack to Webpack 4, React 16.4, Apollo Client 2.0, and adds Styled Components, full SSR (even in development), and has been re-written in Typescript. It's leaner, faster and has been brought completely u

[2018-08-03 14:27] #142 closed

[2018-08-03 14:27] leebenson commented on #138
Apologies for the generic response, but I've released a new [v3.0 kit](https://github.com/leebenson/reactql/releases/tag/3.0.0), which has been re-written from the ground up.

It bumps the ReactQL stack to Webpack 4, React 16.4, Apollo Client 2.0, and adds Styled Components, full SSR (even in development), and has been re-written in Typescript. It's leaner, faster and has been brought completely u

[2018-08-03 14:27] #138 closed

[2018-08-03 14:28] leebenson commented on #116
Apologies for the generic response, but I've released a new [v3.0 kit](https://github.com/leebenson/reactql/releases/tag/3.0.0), which has been re-written from the ground up.

It bumps the ReactQL stack to Webpack 4, React 16.4, Apollo Client 2.0, and adds Styled Components, full SSR (even in development), and has been re-written in Typescript. It's leaner, faster and has been brought completely u

[2018-08-03 14:28] #116 closed

[2018-08-03 14:28] leebenson commented on #136
Apologies for the generic response, but I've released a new [v3.0 kit](https://github.com/leebenson/reactql/releases/tag/3.0.0), which has been re-written from the ground up.

It bumps the ReactQL stack to Webpack 4, React 16.4, Apollo Client 2.0, and adds Styled Components, full SSR (even in development), and has been re-written in Typescript. It's leaner, faster and has been brought completely u

[2018-08-03 14:28] #136 closed

[2018-08-03 14:28] leebenson commented on #128
Apologies for the generic response, but I've released a new [v3.0 kit](https://github.com/leebenson/reactql/releases/tag/3.0.0), which has been re-written from the ground up.

It bumps the ReactQL stack to Webpack 4, React 16.4, Apollo Client 2.0, and adds Styled Components, full SSR (even in development), and has been re-written in Typescript. It's leaner, faster and has been brought completely u

[2018-08-03 14:28] #128 closed

[2018-08-03 14:28] leebenson commented on #121
Apologies for the generic response, but I've released a new [v3.0 kit](https://github.com/leebenson/reactql/releases/tag/3.0.0), which has been re-written from the ground up.

It bumps the ReactQL stack to Webpack 4, React 16.4, Apollo Client 2.0, and adds Styled Components, full SSR (even in development), and has been re-written in Typescript. It's leaner, faster and has been brought completely u

[2018-08-03 14:28] #121 closed

[2018-08-03 14:28] leebenson commented on #118
Apologies for the generic response, but I've released a new [v3.0 kit](https://github.com/leebenson/reactql/releases/tag/3.0.0), which has been re-written from the ground up.

It bumps the ReactQL stack to Webpack 4, React 16.4, Apollo Client 2.0, and adds Styled Components, full SSR (even in development), and has been re-written in Typescript. It's leaner, faster and has been brought completely u

[2018-08-03 14:28] #118 closed

[2018-08-03 14:29] leebenson commented on #110
Typescript - done!

https://github.com/leebenson/reactql/releases/tag/3.0.0

[2018-08-03 14:29] #110 closed

[2018-08-03 14:29] leebenson commented on #115
Apologies for the generic response, but I've released a new [v3.0 kit](https://github.com/leebenson/reactql/releases/tag/3.0.0), which has been re-written from the ground up.

It bumps the ReactQL stack to Webpack 4, React 16.4, Apollo Client 2.0, and adds Styled Components, full SSR (even in development), and has been re-written in Typescript. It's leaner, faster and has been brought completely u

[2018-08-03 14:29] #115 closed

[2018-08-03 14:30] leebenson commented on #111
Apologies for the generic response, but I've released a new [v3.0 kit](https://github.com/leebenson/reactql/releases/tag/3.0.0), which has been re-written from the ground up.

It bumps the ReactQL stack to Webpack 4, React 16.4, Apollo Client 2.0, and adds Styled Components, full SSR (even in development), and has been re-written in Typescript. It's leaner, faster and has been brought completely u

[2018-08-03 14:30] #111 closed

[2018-08-03 14:30] leebenson commented on #109
Apologies for the generic response, but I've released a new [v3.0 kit](https://github.com/leebenson/reactql/releases/tag/3.0.0), which has been re-written from the ground up.

It bumps the ReactQL stack to Webpack 4, React 16.4, Apollo Client 2.0, and adds Styled Components, full SSR (even in development), and has been re-written in Typescript. It's leaner, faster and has been brought completely u

[2018-08-03 14:30] #109 closed

[2018-08-03 14:30] leebenson commented on #106
Apologies for the generic response, but I've released a new [v3.0 kit](https://github.com/leebenson/reactql/releases/tag/3.0.0), which has been re-written from the ground up.

It bumps the ReactQL stack to Webpack 4, React 16.4, Apollo Client 2.0, and adds Styled Components, full SSR (even in development), and has been re-written in Typescript. It's leaner, faster and has been brought completely u

[2018-08-03 14:30] #106 closed

[2018-08-03 14:35] leebenson commented on #93
Apologies for the generic response, but I've released a new [v3.0 kit](https://github.com/leebenson/reactql/releases/tag/3.0.0), which has been re-written from the ground up.

It bumps the ReactQL stack to Webpack 4, React 16.4, Apollo Client 2.0, and adds Styled Components, full SSR (even in development), and has been re-written in Typescript. It's leaner, faster and has been brought completely u

[2018-08-03 14:35] #93 closed

[2018-08-03 14:35] leebenson commented on #70
Apologies for the generic response, but I've released a new [v3.0 kit](https://github.com/leebenson/reactql/releases/tag/3.0.0), which has been re-written from the ground up.

It bumps the ReactQL stack to Webpack 4, React 16.4, Apollo Client 2.0, and adds Styled Components, full SSR (even in development), and has been re-written in Typescript. It's leaner, faster and has been brought completely u

[2018-08-03 14:35] #70 closed

[2018-08-03 14:35] leebenson commented on #31
Apologies for the generic response, but I've released a new [v3.0 kit](https://github.com/leebenson/reactql/releases/tag/3.0.0), which has been re-written from the ground up.

It bumps the ReactQL stack to Webpack 4, React 16.4, Apollo Client 2.0, and adds Styled Components, full SSR (even in development), and has been re-written in Typescript. It's leaner, faster and has been brought completely u

[2018-08-03 14:35] #31 closed

[2018-08-03 14:36] leebenson commented on #80
Closing per https://github.com/leebenson/reactql/releases/tag/3.0.0

[2018-08-03 14:36] #80 closed

[2018-09-01 18:32] Nathan961207 commented on #45
At step 3: Add import 'semantic-ui-css/semantic.min.css'; to src/app.js

Add it to src/index.js instead.

[2018-10-21 15:20] myovchev commented on #138
@leebenson I'm using adapted version of reactql & kit, all of those are in production and I'm pretty happy with them. In fact it's pretty close to what you have done with v3. I've just read the announcement and had quick view on the README doc and I'm really impressed - congrats for the great work :)

I'll definitely give it a try. I'll give my best to find time and share with you some of the impr

[2018-10-21 16:57] leebenson commented on #138
Awesome @myovchev, would very much appreciate any contributions!

[2019-01-26 18:47] jppgks commented on #52
I [successfully deployed to Heroku using Docker](https://github.com/leebenson/reactql/issues/45#issuecomment-457855223) with no extra config.

[2019-03-08 06:59] Puja988 commented on #45
I am facing a similar issue. I am trying to add semantic-ui-react in my project but getting an error. Can you please briefly specify how do we add *.global.css to our webpack.config file ? and where do we put styles.global.css ?

[2019-08-24 22:58] Heveraldoo commented on #135
The same problem with opencv4nodejs.

[ng] WARNING in ./node_modules/opencv4nodejs/lib/cv.js 15:7-68
[ng] Critical dependency: the request of a dependency is an expression
[ng] WARNING in ./node_modules/opencv4nodejs/lib/cv.js 17:7-70
[ng] Critical dependency: the request of a dependency is an expression
[ng]
[ng] ERROR in ./node_modules/opencv4nodejs/build/Release/opencv4nodejs.node 1:2
[ng] Modu

[2019-08-25 04:29] leebenson commented on #135
@Heveraldoo - did you try the advice [in this comment](https://github.com/reactql/kit/issues/135#issuecomment-353077505)?

It sounds like you might need to forego using this as a top-level `import` and instead use a conditional `require` or async `import` inside an `if SERVER {..}` block.

[2019-08-25 19:40] Heveraldoo commented on #135
I'm developing an ionic app in typescript:

import { Component } from '@angular/core';
import * as cv from 'opencv4nodejs';

@Component({
  selector: 'app-home',
  templateUrl: 'home.page.html',
  styleUrls: ['home.page.scss'],
})
export class HomePage {
  constructor() {}
  teste(){
     var imageMAT = cv.imread("teste.jpg");
  }
}

So, I means SERVER not exist.

[2019-08-25 20:00] leebenson commented on #135
This is a very old repo - ReactQL has moved to https://github.com/leebenson/reactql

ReactQL is built for React -- if you're trying to use Angular with it, this isn't the right starter kit for your project.